﻿
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_BusLayout.cshtml";

}

<div id="content">
    <section class="container">
        <div class="bg-light shadow-md rounded p-4">
            <div class="row">
                <div class="col-lg-5 mb-4 mb-lg-0">
                    <h2 class="text-4 mb-3">Book Domestic and International _______ </h2>
                    <form id="bookingFlight" method="post">
                        <div class="mb-3">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="oneway" name="flight-trip" class="custom-control-input" checked="" required="" type="radio">
                                <label class="custom-control-label" for="oneway">One Way </label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input id="roundtrip" name="flight-trip" class="custom-control-input" required="" type="radio">
                                <label class="custom-control-label" for="roundtrip">Round Trip </label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6 form-group">
                                <input type="text" class="form-control ui-autocomplete-input" id="flightFrom" required="" placeholder="From" autocomplete="off">
                                <span class="icon-inside"><i class="fas fa-map-marker-alt"></i></span>
                            </div>
                            <div class="col-lg-6 form-group">
                                <input type="text" class="form-control ui-autocomplete-input" id="flightTo" required="" placeholder="To" autocomplete="off">
                                <span class="icon-inside"><i class="fas fa-map-marker-alt"></i></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-6 form-group">
                                <input id="flightDepart" type="text" class="form-control" required="" placeholder="Depart Date">
                                <span class="icon-inside"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <div class="col-lg-6 form-group">
                                <input id="flightReturn" type="text" class="form-control" required="" placeholder="Return Date">
                                <span class="icon-inside"><i class="far fa-calendar-alt"></i></span>
                            </div>
                        </div>
                        <div class="travellers-class form-group">
                            <input type="text" id="flightTravellersClass" class="travellers-class-input form-control" name="flight-travellers-class" placeholder="Travellers, Class" readonly="" required="" onkeypress="return false;">
                            <span class="icon-inside"><i class="fas fa-caret-down"></i></span>
                            <div class="travellers-dropdown" style="display: none;">
                                <div class="row align-items-center">
                                    <div class="col-sm-7">
                                        <p class="mb-sm-0">Adults  <small class="text-muted">(12+ yrs) </small></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="qty input-group">
                                            <div class="input-group-prepend">
                                                <button type="button" class="btn bg-light-4" data-value="decrease" data-target="#flightAdult-travellers" data-toggle="spinner">- </button>
                                            </div>
                                            <input type="text" data-ride="spinner" id="flightAdult-travellers" class="qty-spinner form-control" value="1" readonly="">
                                            <div class="input-group-append">
                                                <button type="button" class="btn bg-light-4" data-value="increase" data-target="#flightAdult-travellers" data-toggle="spinner">+ </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="row align-items-center">
                                    <div class="col-sm-7">
                                        <p class="mb-sm-0">Children  <small class="text-muted">(2-12 yrs) </small></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="qty input-group">
                                            <div class="input-group-prepend">
                                                <button type="button" class="btn bg-light-4" data-value="decrease" data-target="#flightChildren-travellers" data-toggle="spinner">- </button>
                                            </div>
                                            <input type="text" data-ride="spinner" id="flightChildren-travellers" class="qty-spinner form-control" value="0" readonly="">
                                            <div class="input-group-append">
                                                <button type="button" class="btn bg-light-4" data-value="increase" data-target="#flightChildren-travellers" data-toggle="spinner">+ </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="row align-items-center">
                                    <div class="col-sm-7">
                                        <p class="mb-sm-0">Infants  <small class="text-muted">(Below 2 yrs) </small></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="qty input-group">
                                            <div class="input-group-prepend">
                                                <button type="button" class="btn bg-light-4" data-value="decrease" data-target="#flightInfants-travellers" data-toggle="spinner">- </button>
                                            </div>
                                            <input type="text" data-ride="spinner" id="flightInfants-travellers" class="qty-spinner form-control" value="0" readonly="">
                                            <div class="input-group-append">
                                                <button type="button" class="btn bg-light-4" data-value="increase" data-target="#flightInfants-travellers" data-toggle="spinner">+ </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-2">
                                <div class="mb-3">
                                    <div class="custom-control custom-radio">
                                        <input id="flightClassEconomic" name="flight-class" class="flight-class custom-control-input" value="0" checked="" required="" type="radio">
                                        <label class="custom-control-label" for="flightClassEconomic">Economic </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input id="flightClassPremiumEconomic" name="flight-class" class="flight-class custom-control-input" value="1" required="" type="radio">
                                        <label class="custom-control-label" for="flightClassPremiumEconomic">Premium Economic </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input id="flightClassBusiness" name="flight-class" class="flight-class custom-control-input" value="2" required="" type="radio">
                                        <label class="custom-control-label" for="flightClassBusiness">Business </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input id="flightClassFirstClass" name="flight-class" class="flight-class custom-control-input" value="3" required="" type="radio">
                                        <label class="custom-control-label" for="flightClassFirstClass">First Class </label>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block submit-done" type="button">Done </button>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Search Flights </button>
                    </form>
                </div>
                <div class="col-lg-7"><img class="img-fluid rounded" src="images/slider/booking-banner-1.jpg" alt="Quickai"></div>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="section px-3 px-md-5 pb-2">
            <h2 class="text-9 font-weight-600 text-center">Why Book Flight with _______ </h2>
            <p class="lead mb-5 text-center">Book Flight Tickets Online. ____ Time and Money! </p>
            <div class="row">
                <div class="col-md-4">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon text-primary">  <i class="fas fa-dollar-sign"></i>  </div>
                        <h3>No Booking Charges </h3>
                        <p>No hidden charges, no _______ fees, and free customer _______. So you get the ____ deal every time! </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon text-primary">  <i class="fas fa-percentage"></i>  </div>
                        <h3>Cheapest Price </h3>
                        <p>Always get cheapest price ____ the best in the ________. So you get the ____ deal every time. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box text-center">
                        <div class="featured-box-icon text-primary">  <i class="far fa-times-circle"></i>  </div>
                        <h3>Easy Cancellation &amp; Refunds </h3>
                        <p>Get instant refund and ___ any booking fees waived ___! </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="container mt-4">
        <div class="row">
            <div class="col-lg-6">
                <div class="bg-light shadow-md rounded p-4">
                    <h3 class="text-6 mb-4">Popular Domestic Routes </h3>
                    <p class="d-flex align-items-center">Delhi to Mumbai Flights  <a href="#" class="btn btn-sm btn-outline-primary shadow-none ml-auto"><i class="fas fa-search d-block d-sm-none"></i>  <span class="d-none d-sm-block">Search Flights </span></a></p>
                    <hr>
                    <p class="d-flex align-items-center">Bangalore to Delhi Flights <a href="#" class="btn btn-sm btn-outline-primary shadow-none ml-auto"><i class="fas fa-search d-block d-sm-none"></i>  <span class="d-none d-sm-block">Search Flights </span></a></p>
                    <hr>
                    <p class="d-flex align-items-center">Hyderabad to Delhi Flights  <a href="#" class="btn btn-sm btn-outline-primary shadow-none ml-auto"><i class="fas fa-search d-block d-sm-none"></i>  <span class="d-none d-sm-block">Search Flights </span></a></p>
                    <hr>
                    <p class="d-flex align-items-center">Ahmedabad to Mumbai Flights  <a href="#" class="btn btn-sm btn-outline-primary shadow-none ml-auto"><i class="fas fa-search d-block d-sm-none"></i>  <span class="d-none d-sm-block">Search Flights </span></a></p>
                    <hr>
                    <p class="d-flex align-items-center">Mumbai to Chennai Flights  <a href="#" class="btn btn-sm btn-outline-primary shadow-none ml-auto"><i class="fas fa-search d-block d-sm-none"></i>  <span class="d-none d-sm-block">Search Flights </span></a></p>
                    <hr>
                    <p class="text-center mb-0"><a href="#" class="d-inline-block">View All </a></p>
                </div>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="bg-light shadow-md rounded p-4">
                    <h3 class="text-6 mb-4">Popular International Routes </h3>
                    <p class="d-flex align-items-center">Mumbai to Dubai Flights  <a href="#" class="btn btn-sm btn-outline-primary shadow-none ml-auto"><i class="fas fa-search d-block d-sm-none"></i>  <span class="d-none d-sm-block">Search Flights </span></a></p>
                    <hr>
                    <p class="d-flex align-items-center">Delhi to Toronto Flights  <a href="#" class="btn btn-sm btn-outline-primary shadow-none ml-auto"><i class="fas fa-search d-block d-sm-none"></i>  <span class="d-none d-sm-block">Search Flights </span></a></p>
                    <hr>
                    <p class="d-flex align-items-center">Chennai to Singapore Flights  <a href="#" class="btn btn-sm btn-outline-primary shadow-none ml-auto"><i class="fas fa-search d-block d-sm-none"></i>  <span class="d-none d-sm-block">Search Flights </span></a></p>
                    <hr>
                    <p class="d-flex align-items-center">Delhi to London Flights  <a href="#" class="btn btn-sm btn-outline-primary shadow-none ml-auto"><i class="fas fa-search d-block d-sm-none"></i>  <span class="d-none d-sm-block">Search Flights </span></a></p>
                    <hr>
                    <p class="d-flex align-items-center">Kolkata to Bangkok Flights  <a href="#" class="btn btn-sm btn-outline-primary shadow-none ml-auto"><i class="fas fa-search d-block d-sm-none"></i>  <span class="d-none d-sm-block">Search Flights </span></a></p>
                    <hr>
                    <p class="text-center mb-0"><a href="#" class="d-inline-block">View All </a></p>
                </div>
            </div>
        </div>
    </section>
    <div class="section py-4">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">  <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">Book Flights </a>  </li>
                <li class="nav-item">  <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Why Quickai? </a>  </li>
            </ul>
            <div class="tab-content my-3" id="myTabContent">
                <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                    <p>Online Book Domestic and _____________ flights Iisque persius interesset ___ et, in quot quidam ___________ vim, ad mea essent ______ iriure. Mutat tacimates id ___. Ridens mediocritatem ius an, __ nec magna imperdiet. Mediocrem _________ in has. Enim utroque ________ id mei, ad eam _______ labores facilisis, ullum sensibus __ cum. Eius eleifend in ___. At mei alia iriure ________. </p>
                    <p>Partiendo voluptatibus ex cum, ___ erat fuisset ne, cum __ meis volumus mentitum. Alienum __________ maiestatis ne eum, verear ___________ et vim. Mea cu _____ voluptua efficiantur, nullam labitur _______ sit cu. Eum denique __________ te, in justo epicurei ___, eu mei aeque populo. __ pro facer sententiae, ne _____ graece scripta duo. No ________ quaerendum nec, pri alia _______ adipiscing ut. Quo in _____ nostrum intellegebat. Ius hinc ______ erroribus eu, in case _____ exerci pri. Id eum _____ adipisci. Ius cu minim ____________, legendos pertinacia an nam. </p>
                </div>
                <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                    <p>Partiendo voluptatibus ex cum, ___ erat fuisset ne, cum __ meis volumus mentitum. Alienum __________ maiestatis ne eum, verear ___________ et vim. Mea cu _____ voluptua efficiantur, nullam labitur _______ sit cu. Eum denique __________ te, in justo epicurei ___, eu mei aeque populo. __ pro facer sententiae, ne _____ graece scripta duo. No ________ quaerendum nec, pri alia _______ adipiscing ut. Quo in _____ nostrum intellegebat. Ius hinc ______ erroribus eu, in case _____ exerci pri. Id eum _____ adipisci. Ius cu minim ____________, legendos pertinacia an nam. </p>
                    <p>Instant Iisque persius interesset ___ et, in quot quidam ___________ vim, ad mea essent ______ iriure. Mutat tacimates id ___. Ridens mediocritatem ius an, __ nec magna imperdiet. Mediocrem _________ in has. Enim utroque ________ id mei, ad eam _______ labores facilisis, ullum sensibus __ cum. Eius eleifend in ___. At mei alia iriure ________. </p>
                </div>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="bg-light shadow-md rounded p-4">
            <h3 class="text-6 mb-4">Our Airlines partner </h3>
            <div class="brands-grid separator-border">
                <div class="row align-items-center">
                    <div class="col-6 col-sm-3 col-lg-2 text-center"><a href="booking-flights.html"><img class="img-fluid" src="images/brands/flights/airlines-1.png" alt="Brands"></a></div>
                    <div class="col-6 col-sm-3 col-lg-2 text-center"><a href="booking-flights.html"><img class="img-fluid" src="images/brands/flights/airlines-2.png" alt="Brands"></a></div>
                    <div class="col-6 col-sm-3 col-lg-2 text-center"><a href="booking-flights.html"><img class="img-fluid" src="images/brands/flights/airlines-3.png" alt="Brands"></a></div>
                    <div class="col-6 col-sm-3 col-lg-2 text-center"><a href="booking-flights.html"><img class="img-fluid" src="images/brands/flights/airlines-4.png" alt="Brands"></a></div>
                    <div class="col-6 col-sm-3 col-lg-2 text-center"><a href="booking-flights.html"><img class="img-fluid" src="images/brands/flights/airlines-5.png" alt="Brands"></a></div>
                    <div class="col-6 col-sm-3 col-lg-2 text-center"><a href="booking-flights.html"><img class="img-fluid" src="images/brands/flights/airlines-6.png" alt="Brands"></a></div>
                    <div class="col-6 col-sm-3 col-lg-2 text-center"><a href="booking-flights.html"><img class="img-fluid" src="images/brands/flights/airlines-7.png" alt="Brands"></a></div>
                    <div class="col-6 col-sm-3 col-lg-2 text-center"><a href="booking-flights.html"><img class="img-fluid" src="images/brands/flights/airlines-8.png" alt="Brands"></a></div>
                    <div class="col-6 col-sm-3 col-lg-2 text-center"><a href="booking-flights.html"><img class="img-fluid" src="images/brands/flights/airlines-9.png" alt="Brands"></a></div>
                    <div class="col-6 col-sm-3 col-lg-2 text-center"><a href="booking-flights.html"><img class="img-fluid" src="images/brands/flights/airlines-10.png" alt="Brands"></a></div>
                    <div class="col-6 col-sm-3 col-lg-2 text-center"><a href="booking-flights.html"><img class="img-fluid" src="images/brands/flights/airlines-11.png" alt="Brands"></a></div>
                    <div class="col-6 col-sm-3 col-lg-2 text-center"><a href="booking-flights.html"><img class="img-fluid" src="images/brands/flights/airlines-12.png" alt="Brands"></a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-6 text-center">  <img class="img-fluid" alt="" src="images/app-mobile.png">  </div>
                <div class="col-md-7 col-lg-6">
                    <h2 class="text-9 font-weight-600 my-4">
                        Download Our Quickai <br class="d-none d-lg-inline-block">
                        ______ App Now
                    </h2>
                    <p class="lead">Download our app for ___ fastest, most convenient way __ send Recharge. </p>
                    <p>Ridens mediocritatem ius an, __ nec magna imperdiet. Mediocrem _________ in has. Enim utroque ________ id mei, ad eam _______ labores facilisis, ullum sensibus __ cum. Eius eleifend in ___. </p>
                    <ul>
                        <li>Recharge </li>
                        <li>Bill Payment </li>
                        <li>Booking Online </li>
                        <li>and much more..... </li>
                    </ul>
                    <div class="d-flex flex-wrap pt-2">  <a class="mr-4" href="booking-flights.html"><img alt="" src="images/app-store.png"></a><a href="booking-flights.html"><img alt="" src="images/google-play-store.png"></a>  </div>
                </div>
            </div>
        </div>
    </section>
</div>