﻿
 /*Seat Layout Customized Classes - for instratuin */ 

.seat-Available {
    border: 1px solid gray;
    height: 20px;
    width: 20px;
    background: white;
}

.seat-Selected {
    border: 1px solid gray;
    height: 20px;
    width: 20px;
    background-color: #b2ea71;
}

.seat-Unavailable {
    border: 1px solid gray;
    height: 20px;
    width: 20px;
    background-color: gray;
}

.seat-BookedByLadies {
    border: 1px solid gray;
    height: 20px;
    width: 20px;
    background-color: pink;
}

.seat-ForLadies {
    border: 1px solid pink;
    height: 20px;
    width: 20px;
    background-color: white;
}

.seat-ForMale {
    border: 1px solid blue;
    height: 20px;
    width: 20px;
    background-color: white;
}

/*  Pushback seat common */

.Common-seat-Available {
    border: 1px solid gray;
    height: 30px;
    width: 30px;
    background: white;
    float: left;
    margin-left: 5px;
    margin-top:5px;
}

.Common-seat-Selected {
    border: 1px solid gray;
    height: 30px;
    width: 30px;
    background-color: #b2ea71;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

.Common-seat-Unavailable {
    border: 1px solid gray;
    height: 30px;
    width: 30px;
    background-color: gray;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

.Common-seat-BookedByLadies {
    border: 1px solid gray;
    height: 30px;
    width: 30px;
    background-color: pink;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

.Common-seat-ForLadies {
    border: 1px solid pink;
    height: 30px;
    width: 30px;
    background-color: white;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

.Common-seat-ForMale {
    border: 1px solid blue;
    height: 30px;
    width: 30px;
    background-color: white;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

/* Sleeper Seats*/


.Sleeper-seat-Available {
    border: 1px solid #b4c4dc;
    height: 25px;
    width: 70px;
    background: white;
}

.Sleeper-seat-Selected {
    border: 1px solid #b4c4dc;
    height: 25px;
    width: 70px;
    background-color: #b2ea71;
}

.Sleeper-seat-Unavailable {
    border: 1px solid #b4c4dc;
    height: 25px;
    width: 70px;
    background-color: gray;
}

.Sleeper-seat-BookedByLadies {
    border: 1px solid #b4c4dc;
    height: 25px;
    width: 70px;
    background-color: pink;
}

.Sleeper-seat-ForLadies {
    border: 1px solid #b4c4dc;
    height: 25px;
    width: 70px;
    background-color: white;
}

.Sleeper-seat-ForMale {
    border: 1px solid #b4c4dc;
    height: 25px;
    width: 70px;
    background-color: white;
}

/*  End */
.driver-box {
    width: 30%;
    float: left;
    border-right: 1px solid gray;
    height: 155px;
}
.Passenger-box {
    width: 70%;
    float: left;
    height: auto;
}
.seat-Sleeper {
    border: 1px solid pink;
    height: 20px;
    width: 80px;
    background-color: white;
}

.seat-Sleeper-withcommon {
    border: 1px solid pink;
    height: 20px;
    width: 80px;
    background-color: white;
}

.Upper-Deck {
    border: 1px solid pink;
    height: 20px;
    width: 80px;
    background-color: white;
}

.Upper-Deck-seat {
    border: 1px solid pink;
    height: 20px;
    width: 80px;
    background-color: white;
}

.Lower-Deck {
    border: 1px solid pink;
    height: 20px;
    width: 80px;
    background-color: white;
}

.Lower-Deck-seat {
    border: 1px solid pink;
    height: 20px;
    width: 80px;
    background-color: white;
}

/*Chairs Seat in Lower*/
.Common-bus-seat-box {
    width: 100%;
    background: #eaebec;
    min-height: 180px;
    padding: 10px;
    border: 1px solid #3a71cc;
    margin-top: 10px;
}

.upper-deck-seat-box {
    width: 100%;
    background: #eaebec;
    min-height: 180px;
    padding: 10px;
    border: 1px solid #3a71cc;
}
.Lower-deck-seat-box {
    width: 100%;
    background: #eaebec;
    min-height: 180px;
    padding: 10px;
    border: 1px solid #3a71cc;
    margin-top:10px;
}
