﻿<!DOCTYPE html>


<html lang="en">
<head>
    <!-- Original URL: http://demo.harnishdesign.net/html/quickai/booking-bus-list.html
    Date Downloaded: 4/28/2019 7:06:27 AM !-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no" />
    <link href="images/favicon.png" rel="icon" />

    <title>Thumbpay Go - Bus | Flight | Hotel | Recharge  </title>
    <meta name="description" content="Quickai - Recharge & Bill Payment, Booking HTML5 Template" />
    <meta name="author" content="harnishdesign.net" />
    <link href="~/css/BusSeatLayout.css" rel="stylesheet" />
    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet' href='~/Assets/fonts.googleapis.com/css_bf2bcdef.css' type='text/css' />

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/owl.carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/owl.carousel/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/jquery-seat-charts/jquery.seat-charts.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/css/stylesheet.css" />
<style>

    .ssb-layout-box {
        display: inline-block;
        border: 3px solid #999999;
        vertical-align: top;
        padding: 1%;
        border-radius: 15px;
        margin: 0% 1% 2% 4%;
        background: white;
    }

    .driver-seat {
        width: 29px;
        height: 33px;
        background-image: url('/images/busicons/driver.png');
    }

    .male-seat-booked {
        width: 29px;
        height: 33px;
        background-image: url('/images/busicons/booked.png');
    }

    .sleeper-avail {
        width: 48px;
        height: 33px;
        background-image: url('/images/busicons/avaliable--sleeper.png');
    }

    .seat-avail {
        width: 29px;
        height: 33px;
        background-image: url('/images/busicons/avaliable.png');
    }
    .sleeper-unavail {
        width: 48px;
        height: 33px;
        background-image: url('/images/busicons/not-avaliable-sleeper.png');
    }

    .seat-unavail {
        width: 29px;
        height: 33px;
        background-image: url('/images/busicons/notawaliable-seat.png');
    }
    .sleeper-avail-ladies {
        width: 48px;
        height: 33px;
        background-image: url('/images/busicons/not-avaliable-sleeper.png');
    }

    .seat-avail-ladies {
        width: 29px;
        height: 33px;
        background-image: url('/images/busicons/notawaliable-seat.png');
    }

    div.seatSelectionBox .ssb-seat-details {
        border: 1px solid #c1c1c1;
        background: white;
        padding: 2%;
        margin: auto;
        font-size: 1em;
        width: 97%;
        *zoom: 1;
        zoom: 1;
    }
</style>
</head>
<body>

    <!-- Preloader -->
    <!-- Document Wrapper
    ============================================= -->
    <div id="main-wrapper">

        <!-- Header
        ============================================= -->
        @Html.Partial("_LaningHeader")
        <!-- Header end -->
        <!-- Page Header
        ============================================= -->
        <section class="page-header page-header-text-light bg-secondary">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h1>Bus - List Page </h1>
                    </div>
                    <div class="col-md-4">
                        <ul class="breadcrumb justify-content-start justify-content-md-end mb-0">
                            <li><a href="index.html">Home </a></li>
                            <li><a href="booking-bus.html">Bus </a></li>
                            <li class="active">Bus List Page </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- Page Header end -->
        <!-- Content
        ============================================= -->
        <div id="content">
            @RenderBody()
        </div><!-- Content end -->
        <!-- Footer
        ============================================= -->
        @Html.Partial("_LandingFooter")

    </div><!-- Document Wrapper end -->
    <!-- Back to Top
    ============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

    <!-- Modal Dialog - Login/Signup
    ============================================= -->
    <div id="login-signup" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-sm-3">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">  <span aria-hidden="true">&times; </span>  </button>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">  <a id="login-tab" class="nav-link active text-4" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login </a>  </li>
                        <li class="nav-item">  <a id="signup-tab" class="nav-link text-4" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Sign Up </a>  </li>
                    </ul>
                    <div class="tab-content pt-4">
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <form id="loginForm" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="loginMobile" required="" placeholder="Mobile or Email ID" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="loginPassword" required="" placeholder="Password" />
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm">
                                        <div class="form-check custom-control custom-checkbox">
                                            <input id="remember-me" name="remember" class="custom-control-input" type="checkbox" />
                                            <label class="custom-control-label" for="remember-me">Remember Me </label>
                                        </div>
                                    </div>
                                    <div class="col-sm text-right">  <a class="justify-content-end" href="#">Forgot Password ? </a>  </div>
                                </div>
                                <button class="btn btn-primary btn-block" type="submit">Login </button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                            <form id="signupForm" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" data-bv-field="number" id="signupEmail" required="" placeholder="Email ID" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="signupMobile" required="" placeholder="Mobile Number" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="signuploginPassword" required="" placeholder="Password" />
                                </div>
                                <button class="btn btn-primary btn-block" type="submit">Signup </button>
                            </form>
                        </div>
                        <div class="d-flex align-items-center my-4">
                            <hr class="flex-grow-1" />
                            <span class="mx-2">OR </span>
                            <hr class="flex-grow-1" />
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <button type="button" class="btn btn-block btn-outline-primary">Login with Facebook </button>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-block btn-outline-danger">Login with Google </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Modal Dialog - Login/Signup end -->
    <!-- Bus Details (Select Seats) Modal Dialog
    ============================================= -->
    <div id="select-busseats" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

            <div class="modal-content">

                <div class="modal-header">

                    <h5 class="modal-title">Bus Booking Details </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">  <span aria-hidden="true">&times; </span>  </button>
                </div>
                '<div id="modalBody" class="modal-body" style="overflow:auto">

                </div>
                <div class="row">
                    <div class="">
                        <div class="">
                            <div class="emailBox col-md-3">
                                <input class="email form-control" id="ex2" name="email" type="text" placeholder="Email address required" style="border: 1px solid rgb(169, 169, 169);">
                            </div>

                            <div class="col-md-5 bpSelectBox">
                                <div class="selectStyleBox">
                                    <select name="bp" class="dropdown" style="width:372px;cursor:pointer;">
                                        <option value="">Boarding Points</option>
                                      </select><span class="selectStyleText">Boarding Points</span><span class="selectStyleArrow"></span>
                                </div>
                                <div class="fullBp"></div>
                            </div>
                            <div class="col-md-4 dpSelectBox modilehide" style="display:none;">
                                <div class="selectStyleBox">
                                    <select name="dp" style="width:310px;">
                                        <option value="">Dropping Points</option>
                                    </select><span class="selectStyleText">Dropping Points</span><span class="selectStyleArrow"></span>
                                </div>
                            </div>
                        </div>

                        <div style="clear:both;"></div>
                        <div class="pasengerDetails col-md-12" style="margin:10px 0px 10px 0px; border:1px solid #c1c1c1; border-top: 2px solid #FF780C;;">
                            <div class="ssbsd-header-row" style="min-height: 25px;margin-bottom: 10px;">
                                <div class="col-md-1 " >Gender</div>
                                <div class="col-md-3 " >Name</div>
                                <div class="col-md-1 " >Surname</div>
                                <div class="col-md-1 " >Age</div>
                                <div class="col-md-1 " >Seat No.</div>
                                <div class="col-md-2 " >Base Fare</div>
                                <div class="col-md-2 " style="text-align: inherit\9; right: 32px;">Op Service Charge</div>
                                <div class="col-md-1 " style="text-align: inherit\9; right: 32px;">AC Bus GST</div>
                            </div>
                            <div class="ssbsd-selseat col-md-12"><div class="col-md-1 seatgender" style="padding:0px 6px 14px;"><img src="ui/images/radio-on.png" alt="" class="radio gender male"> M <img src="ui/images/radio-off.png" alt="" class="radio gender female"> F <input type="hidden" name="gender-5"></div><div class="col-md-3" style="padding:0px 10px 0px 0px;"><input type="text" maxlength="25" placeholder="Name" class="form-control passName ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span></div><div class="col-md-1" style="padding:0px 10px 0px 0px;"><input type="text" maxlength="20" placeholder="SurName" class="form-control passLastName"></div><div class="col-md-1" style="padding:0px 10px 0px 0px;"><input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="2" placeholder="Age" class="form-control passAge alowOnlyIntCopy"></div><div style="display:none;" class="seatNo col-md-1"><span class="SeatNumbr">Seat:&nbsp;</span>5</div><div class="seatNoView col-md-1"><span class="SeatNumbr" style="display:none;">Seat:&nbsp;</span>5</div><div class="col-md-2 basefare"><span style="display:none;" class="BaseFare">Fare:&nbsp;</span><span class="curr">`</span> 550</div><div class="col-md-1 servicetax pull-right"><span style="display:none;" class="ServiceTax">S.Tax:&nbsp;</span><span class="curr">`</span> 0</div><div class="col-md-1 opServicecharge"><span style="display:none;" class="OpServiceCharge">Op.Charge:&nbsp;</span><span class="curr">`</span> 0</div></div><div class="ssbsd-selseat col-md-12"><div class="col-md-1 seatgender" style="padding:0px 6px 14px;"><img src="ui/images/radio-on.png" alt="" class="radio gender male"> M <img src="ui/images/radio-off.png" alt="" class="radio gender female"> F <input type="hidden" name="gender-S3"></div><div class="col-md-3" style="padding:0px 10px 0px 0px;"><input type="text" maxlength="25" placeholder="Name" class="form-control passName ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span></div><div class="col-md-1" style="padding:0px 10px 0px 0px;"><input type="text" maxlength="20" placeholder="SurName" class="form-control passLastName"></div><div class="col-md-1" style="padding:0px 10px 0px 0px;"><input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="2" placeholder="Age" class="form-control passAge alowOnlyIntCopy"></div><div style="display:none;" class="seatNo col-md-1"><span class="SeatNumbr">Seat:&nbsp;</span>S3</div><div class="seatNoView col-md-1"><span class="SeatNumbr" style="display:none;">Seat:&nbsp;</span>S3</div><div class="col-md-2 basefare"><span style="display:none;" class="BaseFare">Fare:&nbsp;</span><span class="curr">`</span> 650</div><div class="col-md-1 servicetax pull-right"><span style="display:none;" class="ServiceTax">S.Tax:&nbsp;</span><span class="curr">`</span> 0</div><div class="col-md-1 opServicecharge"><span style="display:none;" class="OpServiceCharge">Op.Charge:&nbsp;</span><span class="curr">`</span> 0</div></div><div class="ssbsd-status col-md-12" style="display: block;">
                                <div class="col-md-10 CountSeats">
                                    <span>2</span> <span>Seat(s) selected (Max. 6 seats) Total Fare:</span>
                                </div>
                                <div class="col-md-2">
                                    <label style="font-weight:700;color:#666;">Total:&nbsp;</label><span class="curr">`</span> <span style="font-weight: bold;font-size: 14px;">1200</span>
                                </div>
                            </div>
                        </div>
                        <ul id="userinfo" style="display: block;">
                            <li>

                                <input type="text" class="cus2-part1 mobile mobiHide" disabled="disabled" value="+91" style="color:#000;">
                                <input id="mobile" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" placeholder="Mobile" value="" class="cus2-part2 mobile alowOnlyIntCopy" style="color:#000;">
                            </li>
                            <li>
                                <input type="text" class="cus2-part1 mobile mobiHide" value="+91" disabled="disabled" style="color:#000;">
                                <input id="emerPh" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" placeholder="Emergency" class="cus2-part2 mobile alowOnlyIntCopy" style="color:#000;">
                            </li>
                            <li>
                                <input id="address" type="text" placeholder="Address" class="cus2-full">
                            </li>
                            <li>
                                <input id="pinCode" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="6" placeholder="Pin Code" class="cus2-full alowOnlyIntCopy">
                            </li>

                            <li>
                                <input id="city" type="text" class="cus2-full ui-autocomplete-input" placeholder="City" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                            </li>
                            <li class="state-li">
                                <input id="state" type="text" placeholder="State" class="cus2-full ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                            </li>
                            <li style="line-height:6px;margin:8px 8px 2px 0px;">
                                <div class="selectStyleBox">
                                    <select name="idProof" style="width: 198px;" class="idProof">
                                        <option value="">Select ID Proof</option>
                                        <option value="AADHAR">Aadhar Card</option>
                                        <option value="VOTER_CARD">Voter ID Card</option>
                                        <option value="DRIVING_LICENCE">Driving License</option>
                                        <option value="PAN_CARD">PAN Card</option>
                                        <option value="RATION_CARD">Ration Card</option>
                                        <option value="PASSPORT">Passport</option>
                                    </select><span class="selectStyleText">Select ID Proof</span><span class="selectStyleArrow"></span>
                                </div>&nbsp;
                            </li>
                            <li class=" ">
                                <input id="idProofVal" type="text" placeholder="ID Number" maxlength="20" class="cus2-half">
                            </li>
                        </ul>
                        <ul class="ssb-error-box"></ul>
                        <div class="ptpbtnbox">
                            <div style="float:right;width:180px;"><img class="waiting waitImg" src="ui/images/waitingSmall.gif" alt=""><a href="#" class="ptpbtn frht" style="display: inline;">Proceed to payment</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bus Details Modal Dialog end -->
    <!-- Script -->
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Assets/vendor/bootstrap-spinner/bootstrap-spinner.js"></script>
    <script src="~/Assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Assets/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Assets/vendor/jquery-seat-charts/jquery.seat-charts.min.js"></script>
    
    <script src="~/Assets/js/theme.js"></script>
</body>
</html>
