﻿<!DOCTYPE html>


<html lang="en">
<head>
    <!-- Original URL: http://demo.harnishdesign.net/html/quickai/booking-bus-list.html
    Date Downloaded: 4/28/2019 7:06:27 AM !-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no" />
    <link href="images/favicon.png" rel="icon" />

    <title>Thumbpay Go - Bus | Flight | Hotel | Recharge  </title>
    <meta name="description" content="Quickai - Recharge & Bill Payment, Booking HTML5 Template" />
    <meta name="author" content="harnishdesign.net" />
    <link href="~/css/BusSeatLayout.css" rel="stylesheet" />

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet' href='~/Assets/fonts.googleapis.com/css_bf2bcdef.css' type='text/css' />

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/owl.carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/owl.carousel/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/jquery-seat-charts/jquery.seat-charts.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/css/stylesheet.css" />
    <style>

        .ssb-layout-box {
            display: inline-block;
            border: 3px solid #999999;
            vertical-align: top;
            padding: 1%;
            border-radius: 15px;
            margin: 0% 1% 2% 4%;
            background: white;
        }

        .driver-seat {
            width: 29px;
            height: 33px;
            background-image: url('/images/busicons/driver.png');
        }

        .male-seat-booked {
            width: 29px;
            height: 33px;
            background-image: url('/images/busicons/booked.png');
        }

        .sleeper-avail {
            width: 48px;
            height: 33px;
            background-image: url('/images/busicons/avaliable--sleeper.png');
        }

        .seat-avail {
            width: 29px;
            height: 33px;
            background-image: url('/images/busicons/avaliable.png');
        }

        .sleeper-unavail {
            width: 48px;
            height: 33px;
            background-image: url('/images/busicons/not-avaliable-sleeper.png');
        }

        .seat-unavail {
            width: 29px;
            height: 33px;
            background-image: url('/images/busicons/notawaliable-seat.png');
        }

        .sleeper-avail-ladies {
            width: 48px;
            height: 33px;
            background-image: url('/images/busicons/not-avaliable-sleeper.png');
        }

        .seat-avail-ladies {
            width: 29px;
            height: 33px;
            background-image: url('/images/busicons/notawaliable-seat.png');
        }

        div.seatSelectionBox .ssb-seat-details {
            border: 1px solid #c1c1c1;
            background: white;
            padding: 2%;
            margin: auto;
            font-size: 1em;
            width: 97%;
            *zoom: 1;
            zoom: 1;
        }
    </style>
</head>
<body>

    <!-- Preloader -->
    <!-- Document Wrapper
    ============================================= -->
    <div id="main-wrapper">

        <!-- Header
        ============================================= -->
        @Html.Partial("_LaningHeader")
        <!-- Header end -->
        <!-- Page Header
        ============================================= -->
        <section class="page-header page-header-text-light bg-secondary">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h1>Bus - List Page </h1>
                    </div>
                    <div class="col-md-4">
                        <ul class="breadcrumb justify-content-start justify-content-md-end mb-0">
                            <li><a href="index.html">Home </a></li>
                            <li><a href="booking-bus.html">Bus </a></li>
                            <li class="active">Bus List Page </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- Page Header end -->
        <!-- Content
        ============================================= -->
        <div id="content">
            @RenderBody()
        </div><!-- Content end -->
        <!-- Footer
        ============================================= -->
        @Html.Partial("_LandingFooter")

    </div><!-- Document Wrapper end -->
    <!-- Back to Top
    ============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

    <!-- Modal Dialog - Login/Signup
    ============================================= -->
    <div id="login-signup" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-sm-3">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">  <span aria-hidden="true">&times; </span>  </button>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">  <a id="login-tab" class="nav-link active text-4" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login </a>  </li>
                        <li class="nav-item">  <a id="signup-tab" class="nav-link text-4" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Sign Up </a>  </li>
                    </ul>
                    <div class="tab-content pt-4">
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <form id="loginForm" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="loginMobile" required="" placeholder="Mobile or Email ID" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="loginPassword" required="" placeholder="Password" />
                                </div>
                                <div class="row mb-4">
                                    <div class="col-sm">
                                        <div class="form-check custom-control custom-checkbox">
                                            <input id="remember-me" name="remember" class="custom-control-input" type="checkbox" />
                                            <label class="custom-control-label" for="remember-me">Remember Me </label>
                                        </div>
                                    </div>
                                    <div class="col-sm text-right">  <a class="justify-content-end" href="#">Forgot Password ? </a>  </div>
                                </div>
                                <button class="btn btn-primary btn-block" type="submit">Login </button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                            <form id="signupForm" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" data-bv-field="number" id="signupEmail" required="" placeholder="Email ID" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="signupMobile" required="" placeholder="Mobile Number" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="signuploginPassword" required="" placeholder="Password" />
                                </div>
                                <button class="btn btn-primary btn-block" type="submit">Signup </button>
                            </form>
                        </div>
                        <div class="d-flex align-items-center my-4">
                            <hr class="flex-grow-1" />
                            <span class="mx-2">OR </span>
                            <hr class="flex-grow-1" />
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <button type="button" class="btn btn-block btn-outline-primary">Login with Facebook </button>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-block btn-outline-danger">Login with Google </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Modal Dialog - Login/Signup end -->
    <!-- Bus Details (Select Seats) Modal Dialog
    ============================================= -->
    <!-- Bus Details Modal Dialog end -->
    <!-- Script -->
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Assets/vendor/bootstrap-spinner/bootstrap-spinner.js"></script>
    <script src="~/Assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Assets/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Assets/vendor/jquery-seat-charts/jquery.seat-charts.min.js"></script>
    <script>
        var totalBaseFare = 0;
        var totalTax = 0;
        var tatalWithTaxes = 0;
        var customerList = '';
        var stations = [];
        var currentBusData = {};


        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
        function  onLoadGetBusList() {
            $('#busFrom').val(getParameterByName('busFrom'));
            $('#busTo').val(getParameterByName('busTo'));
            $('#busDepart').val(getParameterByName('busDepart'));
            $('#bookingBus').submit();
        }
        $(function () {
            'use strict';
            // Autocomplete
            getStations();
            onLoadGetBusList();
            function getStations() {
                $.ajax({
                    url: "/Bus/GetStationList",
                    type: "GET",
                    dataType: "json",
                    data: {},
                    success: function (data) {
                        stations = data;
                        $('#busFrom,#busTo').autocomplete({
                            source: stations
                        });
                    }
                })
            }
            // Depart Date
            //$('#busDepart').daterangepicker({
            //    singleDatePicker: true,
            //    minDate: moment(),
            //    autoUpdateInput: false,
            //}, function (chosen_date) {
            //    $('#busDepart').val(chosen_date.format('MM-DD-YYYY'));
            //});
            // Departure Time Slider Range (jQuery UI)
            $("#slider-range-departure").slider({
                range: true,
                min: 0,
                max: 1439,
                values: [0, 1439],
                slide: function (e, ui) {
                    $('.slider-time-departure').each(function (i) {
                        var hours = ("00" + Math.floor(ui.values[i] / 60)).slice(-2);
                        var mins = ("00" + (ui.values[i] - (hours * 60))).slice(-2);
                        $(this).html(hours + ':' + mins);
                    });
                }
            });
            // Slider Range (jQuery UI)
            $("#slider-range").slider({
                range: true,
                min: 125,
                max: 1250,
                values: [125, 1250],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                " - $" + $("#slider-range").slider("values", 1));
        });
        $('#bookingBus').on('submit', function (e) {
            e.preventDefault();
            var from = $('#busFrom').val();
            var to = $('#busTo').val();
            $('#fromTxt').html(from);
            $('#toTxt').html(to);
            var busDepart = $('#busDepart').val();

            $.ajax({
                url: "/Bus/GetAvailableBuses?sourceCity=" + from + '&destinationCity=' + to + '&doj=' + busDepart,
                type: "GET",
                dataType: "json",
                data: {},
                success: function (data) {

                    var buslist = '';
                    $('#buslists').empty();
                    $.each(data, function (index, item) {
                        buslist += '<div class="bus-item">' +
                            '<div class="row align-items-sm-center flex-row py-4 px-3">' +
                            '<div class="col col-sm-3"> <span class="text-3 text-dark operator-name">' + item.operatorName + '</span><span class="text-1 text-muted d-block">' + item.busType + '</span></div>' +
                            '<div class="col col-sm-2 text-center time-info"><span class="text-4 text-dark">' + item.departureTime + '</span><small class="text-muted d-block">' + from + '</small></div>' +
                            '<div class="col col-sm-2 text-center d-none d-sm-block time-info"><span class="text-3 duration">' + '</span><small class="text-muted d-block">' + '</small></div>' +
                            '<div class="col col-sm-2 text-center time-info"><span class="text-4 text-dark">' + item.arrivalTime + '</span><small class="text-muted d-block">' + to + '</small></div>' +
                            '<div class="col-12 col-sm-3 align-self-center text-right text-sm-center mt-2 mt-sm-0">' +
                            '<div class="d-inline-block d-sm-block text-dark text-5 price mb-sm-1">' + item.fare + '</div>' +
                            '<a id="bus' + index + '" class="btn btn-sm btn-outline-primary shadow-none"  data-toggle="collapse" href="#collapseExample' + index + '" role="button" aria-expanded="false" aria-controls="collapseExample"> <i class="fas fa - ellipsis - h d - none d - sm - block d - lg - none" data-toggle="tooltip" title="Select Seats"></i> <span class="d - block d - sm - none d - lg - block" >Select Seats </span></a > ' +
                            '</div></div></div><div class="collapse" id="collapseExample' + index + '"><div class="card card-body" id="collapsebody' + index + '" ></div></div>';
                    });
                    $('#buslists').append(buslist);
                    $.each(data, function (index, item) {
                        document.getElementById('bus' + index).addEventListener("click", function () {
                            getSeatLayout(item, index);
                        }, false);
                    });
                }
            })
        });
        function getCustomeDetails() {
            var myRows = [];
            var $th = $('table th');
            $('table tbody tr').each(function (i, tr) {
                var obj = {}, $tds = $(tr).find('td');
                $th.each(function (index, th) {
                    if ($(th).text().includes('Age')) {
                        obj['age'] = $tds.eq(index).text();
                    }
                    if ($(th).text().trim() == 'First') {
                        obj['name'] = $tds.eq(index).text();
                    }
                    if ($(th).text().includes('Seat')) {
                        obj['seatNbr'] = $tds.eq(index).text();
                    }
                    if ($(th).text().includes('Title')) {
                        obj['title'] = $tds.eq(index).text();
                        obj['sex'] = $tds.eq(index).text() == 'Mr' ? 'M' : 'F';
                    }
                    if ($(th).text().includes('Fare')) {
                        obj['fare'] = $tds.eq(index).text();
                    }
                    if ($(th).text().includes('Tax')) {
                        obj['serviceTaxAmount'] = $tds.eq(index).text();
                    }
                    if ($(th).text().includes('Total')) {
                        obj['totalFareWithTaxes'] = $tds.eq(index).text();
                    }
                    if ($(th).text().includes('Ladies')) {
                        obj['ladiesSeat'] = $tds.eq(index).text();
                    }
                    if ($(th).text().includes('Last')) {
                        obj['lastName'] = $tds.eq(index).text();
                    }
                    if ($(th).text().includes('Ac')) {
                        obj['ac'] = $tds.eq(index).text();
                    }
                  
                    if ($(th).text().includes('Proof')) {
                        obj['idType'] = $tds.eq(index).text();
                    }
                    if ($(th).text().includes('Number')) {
                        obj['idNumber'] = $tds.eq(index).text();
                    }

                });
                obj.mobile = $('#custMobileNo').val();
                obj.email = $('#custEmail').val();
                obj.nameOnId = obj['name'] + ' ' + obj['lastName'];
                myRows.push(obj);
            });
            return myRows;
        }
        function toggleSeatData(el, id, serviceTaxAmount, serviceTaxPer, fare, totalFareWithTaxes, isAvailable, ladiesSeat, ac, sleeper) {
            debugger;
            isAvailable = isAvailable.toLowerCase();
            debugger;
            if (isAvailable == 'true') {
                var clsName = el.getAttribute('class');
                if (clsName.includes('-Selected')) {
                    totalBaseFare -= +fare;
                    totalTax -= +serviceTaxAmount;
                    tatalWithTaxes -= +totalFareWithTaxes;
                    $(el).removeClass(clsName).addClass(clsName.replace('-Selected', '-Available'));
                    $("#row" + id).remove();
                }
                else {
                    totalBaseFare += +fare;
                    totalTax += +serviceTaxAmount;
                    tatalWithTaxes += +totalFareWithTaxes;
                    var lastWord = clsName.split('-')[clsName.split('-').length - 1];
                    $(el).removeClass(clsName).addClass(clsName.replace('-' + lastWord, '') + '-Selected');
                    var GST = 0;
                    var row = '<tr id="row' + id + '"><td><select class="form-control form-control-sm" id="title" required>'
                        + '<option>Mr</option>'
                        + '<option>Ms</option>'
                        + '<option>Mrs</option><td>'
                        + '<input type = "text" class="form-control form-control-sm" placeholder = "Name" />'
                        + '</td >'
                        + '<td>'
                        + '<input type="text" class="form-control form-control-sm" placeholder="Surname" />'
                        + '</td>'
                        + '<td>'
                        + '<input type="text" class="form-control form-control-sm" placeholder="Age" />'
                        + '</td>'
                        + '<td>'
                        + '<select><option value="">Select ID Proof</option><option value="AADHAR">Aadhar Card</option>'
                        + ' <option value="VOTER_CARD">Voter ID Card</option>'
                        + ' <option value="DRIVING_LICENCE">Driving License</option>'
                        + ' <option value="PAN_CARD">PAN Card</option>'
                        + ' <option value="RATION_CARD">Ration Card</option>'
                        + ' <option value="PASSPORT">Passport</option>'
                        + '</select>'
                        + '</td>'
                        + '<td>'
                        + '<input type="text" class="form-control form-control-sm" placeholder="ID Number" />'
                        + '</td>'

                        + '</td><td>' + id + '<td><td>' + fare + '<td><td>' + serviceTaxAmount + '<td><td>' + GST + '<td><td>' + ladiesSeat + '</td><td>' + ac + '</td><td>' + sleeper + '</td>';
                    +'<td>' + totalFareWithTaxes + '<td>'
                        + '</tr>';
                    $('#customerList').append(row);
                }
                $('#totalBaseFare').html('₹ ' + totalBaseFare);
                $('#totalTax').html('₹ ' + totalTax);
                $('#tatalWithTaxes').html('₹ ' + tatalWithTaxes);
                $('#rowTotal').html('Total: ' + tatalWithTaxes);
            } else {
                alert('Oops selected seat not available');
            }
        }
        function getSeatLayout(value, index) {
            debugger;
            currentBusData = value;
            var from = $('#busFrom').val();
            var to = $('#busTo').val();
            $('#fromTxt').html(from);
            $('#toTxt').html(to);
            var busDepart = $('#busDepart').val();
            $.ajax({
                url: "/Bus/GetBusLayout?sourceCity=" + from + '&destinationCity=' + to + '&doj=' + busDepart + '&inventoryType=' + value.inventoryType + '&routeScheduleId=' + value.routeScheduleId,
                type: "GET",
                dataType: "html",
                data: {},
                success: function (data) {
                    totalBaseFare = 0;
                    totalTax = 0;
                    tatalWithTaxes = 0
                    var basLayoutData = data;
                    $('.bus-seats-layout').empty();
                    $('#collapsebody' + index).empty();
                    $('#collapsebody' + index).append(basLayoutData);
                    var options = '';
                    $.each(currentBusData.boardingPoints, function (index, item) {
                        options += '<option value="' + item.id + '">' + item.location + '(' + item.time + ')</option>'
                    });
                    $("#boardPoint").append(options);
                    options = '';
                    if (!currentBusData.droppingPoints) {
                    currentBusData.droppingPoints = [];
                        currentBusData.droppingPoints.push({ id: 1, location: to, time: currentBusData.arrivalTime })
                    }
                    $.each(currentBusData.droppingPoints,function ( index, item) {
                        options += '<option value="' + item.id + '">' + item.location + '(' + item.time + ')</option>'
                    });
                    $("#dropPoint").append(options);

                    var policyData = '';
                    $.each(currentBusData.cancellationPolicyBody, function (index, item) {
                        policyData += '<tr><td>Before ' + item.cutoffTime + ' Hrs.</td><td class="text-center">' + item.refundInPercentage+'%</td ></tr>';
                    });
                    $('#cancellationPolicyBody').append(policyData);
                }
            })
        };
        function onBoardDropPointChange() {
            $("#boardPointDetail").html($("#boardPoint option:selected").text());
            $("#dropPointDetail").html($("#dropPoint option:selected").text());
        }
        function blockTicket() {
            debugger;

            var blockTicketRequest = {};
            var from = $('#busFrom').val();
            var to = $('#busTo').val();
            var doj = $('#busDepart').val();
            blockTicketRequest.sourceCity = from;
            blockTicketRequest.destinationCity = to;
            blockTicketRequest.doj = doj;
            blockTicketRequest.routeScheduleId = currentBusData.routeScheduleId;
            blockTicketRequest.boardingPoint = currentBusData.boardingPoints.filter(function (obj) {
                return +obj.id === +$('#boardPoint').val();
            })[0];
            blockTicketRequest.droppingPoint = currentBusData.droppingPoints.filter(function (obj) {
                return +obj.id === +$('#dropPoint').val();
            })[0];
            blockTicketRequest.customerName = $('#custName').val();;
            blockTicketRequest.customerLastName = $('#custLastName').val();;
            blockTicketRequest.customerEmail = $('#custEmail').val();;
            blockTicketRequest.customerPhone = $('#custMobileNo').val();;
            blockTicketRequest.emergencyPhNumber = $('#custAltNo').val();;
            blockTicketRequest.customerAddress = $('#custAddress').val();;
            blockTicketRequest.blockSeatPaxDetails = [];
            blockTicketRequest.blockSeatPaxDetails = getCustomeDetails();
            debugger;
            $.ajax({
                url: "/Bus/BlockTicket",
                type: "POST",
                dataType: "json",
                data: JSON.stringify(blockTicketRequest),
                success: function (data) {
                    debugger;
                }
            })
        }


    </script>
    <script src="~/Assets/js/theme.js"></script>
</body>
</html>
