﻿<header id="header">
    <div class="container">
        <div class="header-row">
            <div class="header-column justify-content-start">

                <!-- Logo
                ============================================= -->
                <div class="logo">
                    <a href="/" class="font-weight-600 font-25" title="Thumbpay Go!">

                        Thumbpay Go!
                    </a>
                </div><!-- Logo end -->

            </div>

            <div class="header-column justify-content-end">

                <!-- Primary Navigation
                ============================================= -->
                <nav class="primary-menu navbar navbar-expand-lg">
                    <div id="header-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#"> Services </a>
                                <ul class="dropdown-menu" style="">
                                    @*<li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Home Version 1 </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="index.html">Recharge or Bill Payment </a></li>
                                            <li><a class="dropdown-item" href="booking-hotels.html">Booking </a></li>
                                        </ul>
                                    </li>*@
                                    @*<li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Home Version 2 </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="index-2.html">Recharge or Bill Payment </a></li>
                                            <li><a class="dropdown-item" href="booking-hotels-2.html">Booking </a></li>
                                        </ul>
                                    </li>*@
                                    <li><a class="dropdown-item" href="index-3.html"> Flight booking  </a></li>
                                    <li><a class="dropdown-item" href="index-4.html"> Bus Booking  </a></li>
                                    <li><a class="dropdown-item" href="index-5.html"> Recharge  </a></li>
                                    <li><a class="dropdown-item" href="index-6.html"> Hotel  </a></li>
                                    <li><a class="dropdown-item" href="index-7.html"> BBPS </a></li>
                                    

                                </ul>
                            </li>
                            @*<li class="dropdown">
                                <a class="dropdown-toggle" href="#">Recharge &amp; Bill Payment </a>
                                <ul class="dropdown-menu" style="">
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Mobile </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="index.html">Layout 1 </a></li>
                                            <li><a class="dropdown-item" href="index-2.html">Layout 2 </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">DTH </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="recharge-bill-dth.html">Layout 1 </a></li>
                                            <li><a class="dropdown-item" href="recharge-bill-dth-2.html">Layout 2 </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Data Card </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="recharge-bill-datacard.html">Layout 1 </a></li>
                                            <li><a class="dropdown-item" href="recharge-bill-datacard-2.html">Layout 2 </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Broadband </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="recharge-bill-broadband.html">Layout 1 </a></li>
                                            <li><a class="dropdown-item" href="recharge-bill-broadband-2.html">Layout 2 </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Landline </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="recharge-bill-landline.html">Layout 1 </a></li>
                                            <li><a class="dropdown-item" href="recharge-bill-landline-2.html">Layout 2 </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Cable TV </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="recharge-bill-cabletv.html">Layout 1 </a></li>
                                            <li><a class="dropdown-item" href="recharge-bill-cabletv-2.html">Layout 2 </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Electricity </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="recharge-bill-electricity.html">Layout 1 </a></li>
                                            <li><a class="dropdown-item" href="recharge-bill-electricity-2.html">Layout 2 </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Metro </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="recharge-bill-metro.html">Layout 1 </a></li>
                                            <li><a class="dropdown-item" href="recharge-bill-metro-2.html">Layout 2 </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Gas </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="recharge-bill-gas.html">Layout 1 </a></li>
                                            <li><a class="dropdown-item" href="recharge-bill-gas-2.html">Layout 2 </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Water </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="recharge-bill-water.html">Layout 1 </a></li>
                                            <li><a class="dropdown-item" href="recharge-bill-water-2.html">Layout 2 </a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="recharge-plans.html">Recharge Plans </a></li>
                                    <li><a class="dropdown-item" href="payment.html">Payment </a></li>
                                </ul>
                            </li>*@
                            
                            @*<li class="dropdown">
                                <a class="dropdown-toggle" href="#">Features </a>
                                <ul class="dropdown-menu" style="">
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Headers </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="index.html">Light Version (Default) </a></li>
                                            <li><a class="dropdown-item" href="index-4.html">Dark Version </a></li>
                                            <li><a class="dropdown-item" href="index-5.html">Primary Version </a></li>
                                            <li><a class="dropdown-item" href="index-8.html">Transparent </a></li>
                                            <li><a class="dropdown-item" href="page-header-custom-background-with-transparent-header.html">Transparent with border </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Navigation DropDown </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="index.html">Light Version (Default) </a></li>
                                            <li><a class="dropdown-item" href="index-3.html">Dark Version </a></li>
                                            <li><a class="dropdown-item" href="index-6.html">Primary Version </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Page Headers </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="page-header-left-alignment.html">Left Alignment </a></li>
                                            <li><a class="dropdown-item" href="page-header-center-alignment.html">Center Alignment </a></li>
                                            <li><a class="dropdown-item" href="page-header-light.html">Light Version </a></li>
                                            <li><a class="dropdown-item" href="page-header-dark.html">Dark Version </a></li>
                                            <li><a class="dropdown-item" href="page-header-primary.html">Primary Version </a></li>
                                            <li><a class="dropdown-item" href="page-header-custom-background.html">Custom Background </a></li>
                                            <li><a class="dropdown-item" href="page-header-custom-background-with-transparent-header.html">Custom Background 2 </a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="layout-boxed.html">Layout Boxed </a></li>
                                </ul>
                            </li>*@
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#"> My Account </a>
                                <ul class="dropdown-menu" style="margin-left: -5.71875px;">
                                    <li><a class="dropdown-item" href="about-us.html">About Us </a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Login/Signup </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="login-signup.html">Page </a></li>
                                            <li><a class="dropdown-item" data-toggle="modal" data-target="#login-signup" href="#">Dialog Popup </a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="profile.html">My Profile </a></li>
                                    <li><a class="dropdown-item" href="orders.html">Orders </a></li>
                                    <li><a class="dropdown-item" href="payment.html">Payment </a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">Elements </a>
                                        <ul class="dropdown-menu" style="">
                                            <li><a class="dropdown-item" href="elements.html">Elements </a></li>
                                            <li><a class="dropdown-item" href="elements-2.html">Elements 2 </a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="faq.html">Faq </a></li>
                                    <li><a class="dropdown-item" href="support.html">Support </a></li>
                                    <li><a class="dropdown-item" href="contact-us.html">Contact Us </a></li>
                                </ul>
                            </li>
                            <li class="login-signup ml-lg-2"><a class="pl-lg-4 pr-0" data-toggle="modal" data-target="#login-signup" href="#" title="Login / Sign up">Login / Sign up  <span class="d-none d-lg-inline-block"><i class="fas fa-user"></i></span></a></li>
                        </ul>
                    </div>
                </nav><!-- Primary Navigation end -->

            </div>

            <!-- Collapse Button
            ============================================= -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav">  <span></span>  <span></span>  <span></span>  </button>
        </div>
    </div>
</header>
