﻿@model ThumbpayGo.ETravelSmart.BusLayout

@{

}

@if(Model.seats.Count() > 0) {
    <div  class="bus-seats-layout">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">  <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">Available Seats </a>  </li>
            <li class="nav-item">  <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Cancellation Fee </a>  </li>
        </ul>
        <div class="tab-content my-3" id="myTabContent">

            <!--- Tab 1 for Seat Layout -->

            <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                <div class="row">
                    <div class="col-12 col-lg-9 text-center">
                        <p class="text-muted text-1">Click on Seat to Select / deselect </p>

                        <div id="legend"></div>
                        <!-----Seat Upper Deck  -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">

                                    <div class="col-12">
                                        <div class="upper-deck-seat-box">
                                            <div class="col-md-3 driver-box">
                                                <i class="glyphicon glyphicon-dashboard"></i>

                                                <p>
                                                    UPPER DECK
                                                </p>
                                            </div>
                                            <div class="Passenger-box col-md-9">


                                                @{
                                                    if(Model.seats.Where(r => r.zIndex == 1).Count()>0) {
                                                        var maxRow = Model.seats.Where(r => r.zIndex == 1).Select(r => r.row).Max();
                                                    @for(var r = 0; r <= maxRow; r++) {
                                                        <p>
                                                            @{ var colSeatData = Model.seats.Where(l => l.zIndex == 1 && l.row == r);
                                                                if(colSeatData != null) {
                                                                    var len = colSeatData.Count();
                                                                    for(var i = 0; i < len; i++) {

                                                                        if(colSeatData.Count() > 0) {
                                                                            var seatClass = "";
                                                                            var seat = colSeatData.ToList()[i];
                                                                            if(seat != null) {
                                                                                if(seat.available) {

                                                                                    if(seat.ladiesSeat) {
                                                                                        seatClass = "Sleeper-seat-ForLadies";
                                                                                    } else {
                                                                                        seatClass = "Sleeper-seat-Available";
                                                                                    }

                                                                                } else {

                                                                                    seatClass = "Sleeper-seat-Unavailable";

                                                                                }

                                                                                <button id="@seat.id" class="@seatClass" onclick="toggleSeatData(this, '@seat.id','@seat.serviceTaxAmount', '@seat.serviceTaxPer', '@seat.fare','@seat.totalFareWithTaxes','@seat.available','@seat.ladiesSeat','@seat.ac','@seat.sleeper')" value="@seat.totalFareWithTaxes" title="Seat No. @seat.id "></button>
                                                                            }
                                                                        }

                                                                    }
                                                                }
                                                            }
                                                        </p>
                                                                }
                                                                    }
                                                                }

                                            </div>
                                            <hr />
                                        </div>
                                        <div class="clearfix"></div>
                                        <!-----Boarding and Dropping Point -->
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input id="custName" class="form-control form-control-sm" placeholder="First Name" />

                                            </div>
                                            <div class="col-md-4">
                                                <input id="custLastName" class="form-control form-control-sm" placeholder="Last Name" />

                                            </div>
                                            <div class="col-md-4">
                                                <input id="custEmail" class="form-control form-control-sm" placeholder="Email" />

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <input id="custMobileNo" class="form-control form-control-sm" placeholder="Mobile No" />

                                            </div>
                                            <div class="col-md-4">
                                                <input id="custAltNo" class="form-control form-control-sm" placeholder="Alt. Mobile No" />

                                            </div>
                                            <div class="col-md-4">
                                                <textarea id="custAddress" rows="1" class="form-control form-control-sm" placeholder="Address" />

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <select id="boardPoint" onchange="onBoardDropPointChange()" class="form-control form-control-sm">
                                                    Boarding Point

                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select id="dropPoint"  onchange="onBoardDropPointChange()" class="form-control form-control-sm">
                                                    Dropping Point

                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><h6> Board Point: </h6> <span id="boardPointDetail"></span></div>
                                            <div class="col-md-6"><h6> Drop Point: </h6> <span id="dropPointDetail"></span></div>
                                      
                                        </div>
                                        <br />
                                        <br />
                                        <!-----Passenger Form -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table-responsive table-condensed table-hover">
                                                    <thead>
                                                        <tr>

                                                            <th>
                                                                Title
                                                            </th>
                                                            <th>
                                                               First Name
                                                            </th>
                                                            <th>
                                                                Last Name
                                                            </th>
                                                            <th>
                                                                Age
                                                            </th>
                                                            <th>
                                                                ID Proof
                                                            </th>
                                                            <th>
                                                                ID Number
                                                            </th>
                                                            <th>
                                                                Seat No.
                                                            </th>
                                                            <th>
                                                                Base Fare
                                                            </th>
                                                            <th>
                                                                Tax/Service Charge
                                                            </th>
                                                            <th>
                                                                GST
                                                            </th>
                                                            <th>
                                                                Ladies Seat
                                                            </th>
                                                            <th>
                                                                Ac
                                                            </th>
                                                            <th>Sleeper</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="customerList"></tbody>
                                                    <tfoot>

                                                        <tr>
                                                            <td colspan="9">
                                                                <b id="rowTotal" style="float:right">

                                                                </b>

                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>


                                        </div>
                                    </div>
                                            <div class="clearfix"></div>
                                            <div class="Common-bus-seat-box">
                                                <div class="driver-box">

                                                    <img src="~/Busicons/Driver.png" />   <p>
                                                        Lower Deck
                                                    </p>
                                                </div>
                                                <div class="Passenger-box">
                                                    <div style="">
                                                        @{
                                                            var maxRowLower = Model.seats.Where(r => r.zIndex == 0).Select(r => r.row).Max();
                                                            @for(var r = 0; r <= maxRowLower; r++) {
                                                                <p>
                                                                    @{ var colSeatData = Model.seats.Where(l => l.zIndex == 0 && l.row == r);
                                                                        if(colSeatData != null) {
                                                                            var len = colSeatData.Count();
                                                                            for(var i = 0; i < len; i++) {

                                                                                if(colSeatData.Count() > 0) {
                                                                                    var seatClass = "";
                                                                                    var seat = colSeatData.ToList()[i];
                                                                                    if(seat != null) {
                                                                                        if(seat.available) {

                                                                                            if(seat.ladiesSeat) {
                                                                                                if(seat.sleeper || seat.id.Contains("SL")) {
                                                                                                    seatClass = "Sleeper-seat-ForLadies";
                                                                                                } else {
                                                                                                    seatClass = "Common-seat-ForLadies";
                                                                                                }
                                                                                            } else {
                                                                                                if(seat.sleeper || seat.id.Contains("SL")) {
                                                                                                    seatClass = "Sleeper-seat-Available";
                                                                                                } else {
                                                                                                    seatClass = "Common-seat-Available";
                                                                                                }
                                                                                            }

                                                                                        } else {
                                                                                            if(seat.sleeper || seat.id.Contains("SL")) {
                                                                                                seatClass = "Sleeper-seat-Unavailable";
                                                                                            } else {
                                                                                                seatClass = "Common-seat-Unavailable";
                                                                                            }

                                                                                        }

                                                                                        <button id="@seat.id" class="@seatClass" onclick="toggleSeatData(this, '@seat.id','@seat.serviceTaxAmount', '@seat.serviceTaxPer', '@seat.fare','@seat.totalFareWithTaxes','@seat.available','@seat.ladiesSeat','@seat.ac','@seat.sleeper')" value="@seat.totalFareWithTaxes" title="Seat No. @seat.id "></button>
                                                                                    }
                                                                                }

                                                                            }
                                                                        }
                                                                    }
                                                                </p> <div class="clearfix"></div>
                                                            }
                                                        }

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>




                        </div>
                    </div>

                    <!-----Seat Guide -->
                    <hr />
                    <div class="row">
                        <div>
                            <button class="seat-Available">  </button> Avaliable
                            <button class="seat-Selected"> </button> Selected
                            <button class="seat-Unavailable"> </button> Unavaliable
                            <button class="seat-BookedByLadies"></button>  Booked By Ledies
                            <button class="seat-ForLadies">  </button> For Ledies
                            <button class="seat-ForMale"> </button> for Male

                        </div>
                    </div>


                </div>

                <aside class="col-12 col-lg-3 mt-3 mt-lg-0">
                    <div class="bg-light shadow-md rounded p-3">
                        <h3 class="text-5 mb-3">Fare Details</h3>
                        <ul class="list-unstyled">

                            <li class="mb-2">Base Fare <span class="float-right text-4 font-weight-500 text-dark" id="totalBaseFare">0</span></li>
                            <li class="mb-2">Taxes &amp; Fees <span class="float-right text-4 font-weight-500 text-dark" id="totalTax">0</span></li>
                            @*<li class="mb-2">Insurance <span class="float-right text-4 font-weight-500 text-dark">₹70</span></li>*@
                        </ul>
                        <div class="text-dark bg-light-4 text-4 font-weight-600 p-3"> Total Amount <span class="float-right text-6" id="tatalWithTaxes">0</span> </div>
                        <h3 class="text-4 mb-3 mt-4">Promo Code</h3>
                        <div class="input-group form-group">
                            <input class="form-control" placeholder="Promo Code" aria-label="Promo Code" type="text">
                            <span class="input-group-append">
                                <button class="btn btn-secondary" type="submit">APPLY</button>
                            </span>
                        </div>
                        <ul class="promo-code pre-scrollable">
                            <li><span class="d-block text-3 font-weight-600">FLTOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                            <li><span class="d-block text-3 font-weight-600">HOTOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                            <li><span class="d-block text-3 font-weight-600">SUMMEROFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                            <li><span class="d-block text-3 font-weight-600">BIGOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                            <li><span class="d-block text-3 font-weight-600">FLTOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                            <li><span class="d-block text-3 font-weight-600">FLTOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                        </ul>
                        <button onclick="blockTicket()" class="btn btn-primary btn-block">Procces To Payment </button>
                    </div>
                </aside>




            </div>
        </div>

        <!--- Tab 2 for For Cancelation Notes  -->

        <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
            <table class="table table-hover table-bordered bg-light">
                <thead>
                    <tr>
                        <td>Hours before Departure </td>
                        <td class="text-center">Refund Percentage </td>
                    </tr>
                </thead>
                <tbody  id="cancellationPolicyBody" >
                  
                </tbody>
            </table>
            <p class="font-weight-bold">Terms & Conditions </p>
            <ul>
                <li>The penalty is subject __ 24 hrs before departure. __ Changes are allowed after ____. </li>
                <li>The charges are per ____. </li>
                <li>Partial cancellation is not _______ on tickets booked under _______ discounted fares. </li>
                <li>In case of no-show __ ticket not cancelled within ___ stipulated time, only statutory _____ are refundable subject to _______ Fee. </li>
            </ul>
        </div>
    </div>
    
} else {
    <span>!Opps no seat available</span>
}
