<style>
.ssb-layout-box {
    display: inline-block;
    border: 3px solid #999999;
    vertical-align: top;
    padding: 1%;
    border-radius: 15px;
    margin: 0% 1% 2% 4%;
    background: white;
}

    .driver-seat {
        width: 29px;
        height: 33px;
        background-image: url('../../content/busicons/driver.png');
    }
    .male-seat-booked {
        width: 29px;
        height: 33px;
        background-image: url('../../content/busicons/booked.png');
    }
    .sleeper-avail {
        width: 48px;
        height: 33px;
        background-image: url('../../content/busicons/avaliable--sleeper.png');
    }
    .seat-avail {
        width: 29px;
        height: 33px;
        background-image: url('../../content/busicons/avaliable.png');
    }
	#bus-searchresults-app #main-content #displayBuses div.seatSelectionBox .ssb-seat-details {
    border: 1px solid #c1c1c1;
    background: white;
    padding: 2%;
    margin: auto;
    font-size: 1em;
    width: 97%;
    *zoom: 1;
    zoom: 1;
}
</style>

<div class="ssb-layout-box">

<div class="ssb-seat-details">
		<div class=""><div class="emailBox col-md-3">
		<input class="email form-control" id="ex2" name="email" type="text" placeholder="Email address required" style="border: 1px solid rgb(169, 169, 169);">
		</div>	
		
		<div class="col-md-5 bpSelectBox"> 
			<div class="selectStyleBox"><select name="bp" class="dropdown" style="width:372px;cursor:pointer;">
				<option value="">Boarding Points</option>
			<option value="985928">(06:00 PM) Shrinath Nandu Travels Opp. P,,Shrinath Nandu Trav...</option><option value="2288216">(06:00 PM) Nandu Shrinath Travels,,Nandu Shrinath Travels (39...</option><option value="2288217">(06:00 PM) Sevashram Chouraha,,Sevashram Chouraha(09460286888...</option><option value="807302">(06:00 PM) Shrinath Nandu Travels Pratap,,Shrinath Nandu Trav...</option><option value="2288218">(06:20 PM) Sukher Road Bhuwana Bypass,,Sukher Road Bhuwana By...</option></select><span class="selectStyleText" style="color: rgb(95, 93, 93);">Boarding Points</span><span class="selectStyleArrow" style="color: rgb(95, 93, 93);"></span></div>
			<div class="fullBp"></div>  
		</div>
		<div class="col-md-4 dpSelectBox modilehide" style="display:none;"> 
			<div class="selectStyleBox"><select name="dp" style="width:310px;">
				<option value="">Dropping Points</option>
			</select><span class="selectStyleText" style="color: rgb(95, 93, 93);">Dropping Points</span><span class="selectStyleArrow" style="color: rgb(95, 93, 93);"></span></div>
		</div>
		</div>
	
		<div style="clear:both;"></div>
		<div class="pasengerDetails col-md-12" style="margin:10px 0px 10px 0px; border:1px solid #c1c1c1; border-top: 2px solid #FF780C;;">
			<div class="ssbsd-header-row" style="min-height: 25px;margin-bottom: 10px;">
				<div class="col-md-1 passengerInformation" style="text-align: inherit\9;">Gender</div>
				<div class="col-md-3 passengerInformation" style="text-align: inherit\9;">Name</div>
				<div class="col-md-1 passengerInformation" style="text-align: inherit\9;">Surname</div>
				<div class="col-md-1 passengerInformation" style="text-align: inherit\9;">Age</div>
				<div class="col-md-1 passengerInformation" style="text-align: inherit\9;">Seat No.</div>
				<div class="col-md-2 passengerInformation" style="text-align: inherit\9;">Base Fare</div>
				<div class="col-md-2 passengerInformation" style="text-align: inherit\9; right: 32px;">Op Service Charge</div>
				<div class="col-md-1 passengerInformation" style="text-align: inherit\9; right: 32px;">AC Bus GST</div>
			</div>
			<div class="ssbsd-selseat col-md-12"><div class="col-md-1 seatgender" style="padding:0px 6px 14px;"><img src="ui/images/radio-on.png" alt="" class="radio gender male"> M <img src="ui/images/radio-off.png" alt="" class="radio gender female"> F <input type="hidden" name="gender-5"></div><div class="col-md-3" style="padding:0px 10px 0px 0px;"><input type="text" maxlength="25" placeholder="Name" class="form-control passName ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible" style="color: rgb(95, 93, 93);"></span></div><div class="col-md-1" style="padding:0px 10px 0px 0px;"><input type="text" maxlength="20" placeholder="SurName" class="form-control passLastName"></div><div class="col-md-1" style="padding:0px 10px 0px 0px;"><input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="2" placeholder="Age" class="form-control passAge alowOnlyIntCopy"></div><div style="display:none;" class="seatNo col-md-1"><span class="SeatNumbr" style="color: rgb(95, 93, 93);">Seat:&nbsp;</span>5</div><div class="seatNoView col-md-1"><span class="SeatNumbr" style="display: none; color: rgb(95, 93, 93);">Seat:&nbsp;</span>5</div><div class="col-md-2 basefare"><span style="display: none; color: rgb(95, 93, 93);" class="BaseFare">Fare:&nbsp;</span><span class="curr" style="color: rgb(95, 93, 93);">`</span> 550</div><div class="col-md-1 servicetax pull-right"><span style="display: none; color: rgb(95, 93, 93);" class="ServiceTax">S.Tax:&nbsp;</span><span class="curr" style="color: rgb(95, 93, 93);">`</span> 0</div><div class="col-md-1 opServicecharge"><span style="display: none; color: rgb(95, 93, 93);" class="OpServiceCharge">Op.Charge:&nbsp;</span><span class="curr" style="color: rgb(95, 93, 93);">`</span> 0</div></div><div class="ssbsd-selseat col-md-12"><div class="col-md-1 seatgender" style="padding:0px 6px 14px;"><img src="ui/images/radio-on.png" alt="" class="radio gender male"> M <img src="ui/images/radio-off.png" alt="" class="radio gender female"> F <input type="hidden" name="gender-S3"></div><div class="col-md-3" style="padding:0px 10px 0px 0px;"><input type="text" maxlength="25" placeholder="Name" class="form-control passName ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible" style="color: rgb(95, 93, 93);"></span></div><div class="col-md-1" style="padding:0px 10px 0px 0px;"><input type="text" maxlength="20" placeholder="SurName" class="form-control passLastName"></div><div class="col-md-1" style="padding:0px 10px 0px 0px;"><input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="2" placeholder="Age" class="form-control passAge alowOnlyIntCopy"></div><div style="display:none;" class="seatNo col-md-1"><span class="SeatNumbr" style="color: rgb(95, 93, 93);">Seat:&nbsp;</span>S3</div><div class="seatNoView col-md-1"><span class="SeatNumbr" style="display: none; color: rgb(95, 93, 93);">Seat:&nbsp;</span>S3</div><div class="col-md-2 basefare"><span style="display: none; color: rgb(95, 93, 93);" class="BaseFare">Fare:&nbsp;</span><span class="curr" style="color: rgb(95, 93, 93);">`</span> 650</div><div class="col-md-1 servicetax pull-right"><span style="display: none; color: rgb(95, 93, 93);" class="ServiceTax">S.Tax:&nbsp;</span><span class="curr" style="color: rgb(95, 93, 93);">`</span> 0</div><div class="col-md-1 opServicecharge"><span style="display: none; color: rgb(95, 93, 93);" class="OpServiceCharge">Op.Charge:&nbsp;</span><span class="curr" style="color: rgb(95, 93, 93);">`</span> 0</div></div><div class="ssbsd-status col-md-12" style="display: block;">
				<div class="col-md-10 CountSeats">
					<span style="color: rgb(95, 93, 93);">2</span> <span style="color: rgb(95, 93, 93);">Seat(s) selected (Max. 6 seats) Total Fare:</span>
				</div>
				<div class="col-md-2">
					<label style="font-weight:700;color:#666;">Total:&nbsp;</label><span class="curr" style="color: rgb(95, 93, 93);">`</span> <span style="font-weight: bold; font-size: 14px; color: rgb(95, 93, 93);">1200</span>
				</div>
			</div>
		</div>
		<ul id="userinfo" style="display: block;">
					<li>
						
						<input type="text" class="cus2-part1 mobile mobiHide" disabled="disabled" value="+91" style="color:#000;">
						<input id="mobile" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" placeholder="Mobile" value="" class="cus2-part2 mobile alowOnlyIntCopy" style="color:#000;">
						</li>
				    <li>
					    <input type="text" class="cus2-part1 mobile mobiHide" value="+91" disabled="disabled" style="color:#000;">
					    <input id="emerPh" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" placeholder="Emergency" class="cus2-part2 mobile alowOnlyIntCopy" style="color:#000;">
				    </li>
					<li>
						<input id="address" type="text" placeholder="Address" class="cus2-full">
					</li>
					 <li>
	                     <input id="pinCode" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="6" placeholder="Pin Code" class="cus2-full alowOnlyIntCopy">
	                 </li>
					
					<li>
						<input id="city" type="text" class="cus2-full ui-autocomplete-input" placeholder="City" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible" style="color: rgb(95, 93, 93);"></span>
					</li>
                  <li class="state-li">
						<input id="state" type="text" placeholder="State" class="cus2-full ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible" style="color: rgb(95, 93, 93);"></span> 
                  </li>
						<li style="line-height:6px;margin:8px 8px 2px 0px;">
						<div class="selectStyleBox"><select name="idProof" style="width: 198px;" class="idProof">
						<option value="">Select ID Proof</option>
						<option value="AADHAR">Aadhar Card</option>
						<option value="VOTER_CARD">Voter ID Card</option>
						<option value="DRIVING_LICENCE">Driving License</option>
						<option value="PAN_CARD">PAN Card</option>
						<option value="RATION_CARD">Ration Card</option>
						<option value="PASSPORT">Passport</option>
						</select><span class="selectStyleText" style="color: rgb(95, 93, 93);">Select ID Proof</span><span class="selectStyleArrow" style="color: rgb(95, 93, 93);"></span></div>&nbsp;</li>
                  <li class=" ">
						<input id="idProofVal" type="text" placeholder="ID Number" maxlength="20" class="cus2-half">
					</li>
				</ul>
			<ul class="ssb-error-box"></ul>
			<div class="ptpbtnbox">
			<div style="float:right;width:180px;"><img class="waiting waitImg" src="ui/images/waitingSmall.gif" alt=""><a href="#" class="ptpbtn frht" style="display: inline;">Proceed to payment</a></div>
			</div>
	</div>

			<img src="ui/images/bus-wheel.png" alt="" class="tl-wheel">
			<img src="ui/images/bus-wheel.png" alt="" class="tr-wheel">
			<img src="ui/images/bus-wheel.png" alt="" class="bl-wheel">
			<img src="ui/images/bus-wheel.png" alt="" class="br-wheel">

            <table class="upperPortion">
                <tbody>
                    <tr><td style="width:8%"></td><td><div class="seat-sprite sleeper-avail" title="Seat No. 1"></div></td><td><div id="c0-1-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 4"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 5"></div></td><td><div id="c0-3-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 8"></div></td><td><div id="c0-4-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 9"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 12"></div></td><td><div id="c0-6-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 13"></div></td><td><div id="c0-7-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 16"></div></td><td><div id="c0-8-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 17"></div></td><td><div id="c0-9-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. E"></div></td></tr>


                    <tr><td style="width:8%"><div></div></td><td><div class="seat-sprite seat-avail" title="Seat No. 1"></div></td><td><div id="c0-1-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 4"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 5"></div></td><td><div id="c0-3-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 8"></div></td><td><div id="c0-4-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 9"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 12"></div></td><td><div id="c0-6-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 13"></div></td><td><div id="c0-7-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 16"></div></td><td><div id="c0-8-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 17"></div></td><td><div id="c0-9-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. E"></div></td></tr>
                    <tr><td style="width:8%"><div></div></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><div id="c0-9-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. E"></div></td></tr>
                    <tr><td style="width:8%"><div></div></td><td><div class="seat-sprite seat-avail" title="Seat No. 1"></div></td><td><div id="c0-1-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 4"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 5"></div></td><td><div id="c0-3-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 8"></div></td><td><div id="c0-4-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 9"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 12"></div></td><td><div id="c0-6-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 13"></div></td><td><div id="c0-7-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 16"></div></td><td><div id="c0-8-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 17"></div></td><td><div id="c0-9-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. E"></div></td></tr>
                    <tr><td style="width:8%"><div></div></td><td><div class="seat-sprite seat-avail" title="Seat No. 1"></div></td><td><div id="c0-1-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 4"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 5"></div></td><td><div id="c0-3-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 8"></div></td><td><div id="c0-4-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 9"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 12"></div></td><td><div id="c0-6-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 13"></div></td><td><div id="c0-7-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 16"></div></td><td><div id="c0-8-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 17"></div></td><td><div id="c0-9-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. E"></div></td></tr>
                </tbody>
            </table>
			<hr class="hideMe">
            <table class="lowerPortion">
                <tbody>
                    <tr><td style="width:1.5%"><div class="seat-sprite driver-seat"></div></td><td><div class="seat-sprite seat-avail" title="Seat No. 1"></div></td><td><div id="c0-1-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 4"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 5"></div></td><td><div id="c0-3-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 8"></div></td><td><div id="c0-4-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 9"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 12"></div></td><td><div id="c0-6-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 13"></div></td><td><div id="c0-7-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 16"></div></td><td><div id="c0-8-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 17"></div></td><td><div id="c0-9-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. E"></div></td></tr>


                    <tr><td style="width:8%"><div></div></td><td><div class="seat-sprite seat-avail" title="Seat No. 1"></div></td><td><div id="c0-1-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 4"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 5"></div></td><td><div id="c0-3-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 8"></div></td><td><div id="c0-4-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 9"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 12"></div></td><td><div id="c0-6-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 13"></div></td><td><div id="c0-7-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 16"></div></td><td><div id="c0-8-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 17"></div></td><td><div id="c0-9-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. E"></div></td></tr>
                    <tr><td style="width:8%"><div></div></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><div id="c0-9-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. E"></div></td></tr>
                    <tr><td style="width:8%"><div></div></td><td><div class="seat-sprite seat-avail" title="Seat No. 1"></div></td><td><div id="c0-1-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 4"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 5"></div></td><td><div id="c0-3-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 8"></div></td><td><div id="c0-4-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 9"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 12"></div></td><td><div id="c0-6-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 13"></div></td><td><div id="c0-7-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 16"></div></td><td><div id="c0-8-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 17"></div></td><td><div id="c0-9-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. E"></div></td></tr>
                    <tr><td style="width:8%"><div></div></td><td><div class="seat-sprite seat-avail" title="Seat No. 1"></div></td><td><div id="c0-1-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 4"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 5"></div></td><td><div id="c0-3-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 8"></div></td><td><div id="c0-4-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 9"></div></td><td><div class="seat-sprite male-seat-booked" title="Seat No. 12"></div></td><td><div id="c0-6-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 13"></div></td><td><div id="c0-7-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 16"></div></td><td><div id="c0-8-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. 17"></div></td><td><div id="c0-9-0~84WZO09C5YG810241ZBJ6470V49" class="seat-sprite seat-avail" title="Seat No. E"></div></td></tr>
                </tbody>
            </table>
		</div>