﻿@model IEnumerable<ThumbpayGo.ETravelSmart.BusLayout>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.boardingPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.droppingPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inventoryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serviceTaxApplicable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.boardingPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.droppingPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inventoryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serviceTaxApplicable)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
