﻿@model ThumbpayGo.ETravelSmart.BlockTicketRequest
@{
    ViewBag.Title = "BusList";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<section class="page-header page-header-text-light bg-secondary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h1>Bus - Confirm Details </h1>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb justify-content-start justify-content-md-end mb-0">
                    <li><a href="index.html">Home </a></li>
                    <li><a href="booking-bus.html">Bus </a></li>
                    <li class="active">Bus Confirm Details </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div id="content">
    <section class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="bg-light shadow-md rounded p-3 p-sm-4 confirm-details">
                    <h2 class="text-6 mb-3">Confirm Bus Details </h2>
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center trip-title">
                                <div class="col-5 col-sm-auto text-center text-sm-left">
                                    <h5 class="m-0 trip-place">@Model.sourceCity</h5>
                                </div>
                                <div class="col-2 col-sm-auto text-8 text-black-50 text-center trip-arrow">➝ </div>
                                <div class="col-5 col-sm-auto text-center text-sm-left">
                                    <h5 class="m-0 trip-place">@Model.destinationCity </h5>
                                </div>
                                <div class="col-12 mt-1 d-block d-md-none"></div>
                                <div class="col-6 col-sm col-md-auto text-3 date">@Model.doj</div>
                                <div class="col-6 col-sm col-md-auto text-right order-sm-1"><a class="text-1" data-toggle="modal" data-target="#fare-rules" href="booking-bus-confirm-details.html">Fare Rules </a></div>
                                <div class="col col-md-auto text-center ml-auto order-sm-0"><span class="badge badge-success py-1 px-2 font-weight-normal text-1">Refundable </span></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-sm-center flex-row">
                                <div class="col-12 col-sm-3 mb-3 mb-sm-0">  <span class="text-3 text-dark operator-name">AK Tour &amp; Travels </span>  <span class="text-muted d-block">AC Sleeper </span>  </div>
                                <div class="col col-sm-3 text-center time-info">  <span class="text-5 text-dark">12:00 </span>  <small class="text-muted d-block">Mumbai </small>  </div>
                                <div class="col col-sm-3 text-center d-none d-sm-block time-info">  <span class="text-3 duration">18h 55m </span>  <small class="text-muted d-block">12 Stops </small>  </div>
                                <div class="col col-sm-3 text-center time-info">  <span class="text-5 text-dark">05:15 </span>  <small class="text-muted d-block">Surat </small>  </div>
                                <div class="col-12 mt-3 text-dark">Seat No(s):  <span class="bg-success text-light rounded px-2">12 </span>  <span class="bg-success text-light rounded px-2">13 </span></div>
                            </div>

                            <!-- Fare Rules (Modal Dialog)
                            ============================================= -->
                            <div id="fare-rules" class="modal fade" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Fare Rules </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">  <span aria-hidden="true">× </span>  </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item"><a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="false">Cancellation Fee </a></li>
                                                <li class="nav-item"><a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Baggage Details </a></li>
                                            </ul>
                                            <div class="tab-content my-3" id="myTabContent">
                                                <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                                                    <div class="table-responsive-md">
                                                        <table class="table table-hover table-bordered bg-light">
                                                            <thead>
                                                                <tr>
                                                                    <td>Hours before Departure </td>
                                                                    <td class="text-center">Refund Percentage </td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Before 0 Hrs. </td>
                                                                    <td class="text-center">0% </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Before 24 Hrs. </td>
                                                                    <td class="text-center">30% </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Before 48 Hrs. </td>
                                                                    <td class="text-center">60% </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Before 60 Hrs. </td>
                                                                    <td class="text-center">75% </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Above 60 Hrs.  </td>
                                                                    <td class="text-center">80% </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <p class="font-weight-bold">Terms &amp; Conditions </p>
                                                        <ul>
                                                            <li>The penalty is subject __ 24 hrs before departure. __ Changes are allowed after ____. </li>
                                                            <li>The charges are per ____. </li>
                                                            <li>Partial cancellation is not _______ on tickets booked under _______ discounted fares. </li>
                                                            <li>In case of no-show __ ticket not cancelled within ___ stipulated time, only statutory _____ are refundable subject to _______ Fee. </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                                                    <table class="table table-hover table-bordered bg-light">
                                                        <thead>
                                                            <tr>
                                                                <th>&nbsp; </th>
                                                                <td class="text-center">Per Seat </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Adult </td>
                                                                <td class="text-center">5 Kg </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Child </td>
                                                                <td class="text-center">5 Kg </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Fare Rules end -->

                        </div>
                    </div>
                    <div class="alert alert-info mt-4">  <span class="badge badge-info">NOTE: </span> This is a _______ fare given by the ________. Operator cancellation charges do _____.  </div>
                    <h2 class="text-6 mb-3 mt-5">Traveller Details -  <span class="text-3"><a data-toggle="modal" data-target="#login-signup" href="#" title="Login / Sign up">Login </a> to book faster </span></h2>
                    <p class="font-weight-600">Contact Details </p>
                    <div class="form-row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" required="" placeholder="Enter Email" type="text">
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" data-bv-field="number" id="mobileNumber" required="" placeholder="Enter Mobile Number" type="text">
                        </div>
                    </div>
                    <p class="text-info">Your booking details will __ sent to this email _______ and mobile number. </p>
                    <p class="font-weight-600">Adult 1 </p>
                    <div class="form-row">
                        <div class="col-sm-2 form-group">
                            <select class="custom-select" id="title" required="">
                                <option value="">
                                    Title
                                </option>
                                <option>
                                    Mr
                                </option>
                                <option>
                                    Ms
                                </option>
                                <option>
                                    Mrs
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4 form-group">
                            <input class="form-control" id="firstName" required="" placeholder="Enter First Name" type="text">
                        </div>
                        <div class="col-sm-4 form-group">
                            <input class="form-control" id="lastName" required="" placeholder="Enter Last Name" type="text">
                        </div>
                        <div class="col-sm-2 form-group">
                            <input class="form-control" id="age" required="" placeholder="Age" type="text">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Panel (Fare Details)
            ============================================= -->
            <aside class="col-lg-4 mt-4 mt-lg-0">
                <div class="bg-light shadow-md rounded p-3">
                    <h3 class="text-5 mb-3">Fare Details </h3>
                    <ul class="list-unstyled">
                        <li class="mb-2">Base Fare  <span class="float-right text-4 font-weight-500 text-dark">$250 </span></li>
                        <li class="mb-2">Taxes &amp; Fees  <span class="float-right text-4 font-weight-500 text-dark">$30 </span></li>
                        <li class="mb-2">Insurance  <span class="float-right text-4 font-weight-500 text-dark">$70 </span></li>
                    </ul>
                    <div class="text-dark bg-light-4 text-4 font-weight-600 p-3"> Total Amount  <span class="float-right text-6">$350 </span>  </div>
                    <h3 class="text-4 mb-3 mt-4">Promo Code </h3>
                    <div class="input-group form-group">
                        <input class="form-control" placeholder="Promo Code" aria-label="Promo Code" type="text">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="submit">APPLY </button>
                        </span>
                    </div>
                    <ul class="promo-code pre-scrollable">
                        <li><span class="d-block text-3 font-weight-600">FLTOFFER </span>Up to $500 Off __ your booking. Hurry! Limited ______ offer.  <a class="text-1" href="booking-bus-confirm-details.html">Terms &amp; Conditions </a></li>
                        <li><span class="d-block text-3 font-weight-600">HOTOFFER </span>Up to $500 Off __ your booking. Hurry! Limited ______ offer.  <a class="text-1" href="booking-bus-confirm-details.html">Terms &amp; Conditions </a></li>
                        <li><span class="d-block text-3 font-weight-600">SUMMEROFFER </span>Up to $500 Off __ your booking. Hurry! Limited ______ offer.  <a class="text-1" href="booking-bus-confirm-details.html">Terms &amp; Conditions </a></li>
                        <li><span class="d-block text-3 font-weight-600">BIGOFFER </span>Up to $500 Off __ your booking. Hurry! Limited ______ offer.  <a class="text-1" href="booking-bus-confirm-details.html">Terms &amp; Conditions </a></li>
                        <li><span class="d-block text-3 font-weight-600">FLTOFFER </span>Up to $500 Off __ your booking. Hurry! Limited ______ offer.  <a class="text-1" href="booking-bus-confirm-details.html">Terms &amp; Conditions </a></li>
                        <li><span class="d-block text-3 font-weight-600">FLTOFFER </span>Up to $500 Off __ your booking. Hurry! Limited ______ offer.  <a class="text-1" href="booking-bus-confirm-details.html">Terms &amp; Conditions </a></li>
                    </ul>
                    @*  <button class="btn btn-primary btn-block" onclick="location.href='payment.html';" type="submit">Proceed To Payment </button>*@
                    <a href="/home/payment" class="btn btn-primary btn-block" onclick="location.href='payment.html';" type="submit">Proceed To Payment </a>
                </div>
            </aside><!-- Side Panel -->
        </div>
    </section>
</div>
