﻿<!DOCTYPE html>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_BusLayout.cshtml";

}

<section class="container">
    <div class="row">
        <div class="col mb-2">
            <form id="bookingBus" method="post">
                <div class="form-row">
                    <div class="col-md-6 col-lg form-group">
                        <input type="text" class="form-control" id="busFrom" required="" placeholder="From" autocomplete="on" />
                        <span class="icon-inside"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <div class="col-md-6 col-lg form-group">
                        <input type="text" class="form-control" id="busTo" required="" placeholder="To" autocomplete="on" />
                        <span class="icon-inside"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <div class="col-md-4 col-lg form-group">
                        <input id="busDepart" type="date" class="form-control" required="" placeholder="Depart Date" />
                        <span class="icon-inside"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <div class="col-md-4 col-lg form-group">
                        <button class="btn btn-primary btn-block" type="submit">Search </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">

        <!-- Side Panel
        ============================================= -->
        <aside class="col-md-3">
            <div class="bg-light shadow-md rounded p-3">
                <h3 class="text-5">Filter </h3>
                <div class="accordion accordion-alternate style-2" id="toggleAlternate">
                    <div class="card">
                        <div class="card-header" id="departure">
                            <h5 class="mb-0">  <a href="#" class="collapse" data-toggle="collapse" data-target="#toggleDeparture" aria-expanded="true" aria-controls="togglePrice">Departure Time </a>  </h5>
                        </div>
                        <div id="toggleDeparture" class="collapse show" aria-labelledby="departure">
                            <div class="card-body">
                                <p><span class="slider-time-departure">00:00 </span> -  <span class="slider-time-departure">23:59 </span></p>
                                <div id="slider-range-departure"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="price">
                            <h5 class="mb-0">  <a href="#" class="collapse" data-toggle="collapse" data-target="#togglePrice" aria-expanded="true" aria-controls="togglePrice">Price </a>  </h5>
                        </div>
                        <div id="togglePrice" class="collapse show" aria-labelledby="price">
                            <div class="card-body">
                                <p>
                                    <input id="amount" type="text" readonly="" class="form-control border-0 bg-transparent p-0" />
                                </p>
                                <div id="slider-range"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="busType">
                            <h5 class="mb-0">  <a href="#" class="collapse" data-toggle="collapse" data-target="#togglebusType" aria-expanded="true" aria-controls="togglebusType">Bus Type </a>  </h5>
                        </div>
                        <div id="togglebusType" class="collapse show" aria-labelledby="busType">
                            <div class="card-body">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="sleeper" name="busType" class="custom-control-input" />
                                    <label class="custom-control-label" for="sleeper">Sleeper </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="seater" name="busType" class="custom-control-input" />
                                    <label class="custom-control-label" for="seater">Seater </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="semiseater" name="busType" class="custom-control-input" />
                                    <label class="custom-control-label" for="semiseater">Semi-Seater </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="busOperators">
                            <h5 class="mb-0">  <a href="#" class="collapse" data-toggle="collapse" data-target="#togglebusOperators" aria-expanded="true" aria-controls="togglebusOperators">Bus Operators </a>  </h5>
                        </div>
                        <div id="togglebusOperators" class="collapse show" aria-labelledby="busOperators">
                            <div class="card-body">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="akTour" name="busOperators" class="custom-control-input" />
                                    <label class="custom-control-label" for="akTour">AK Tour &amp; Travels </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="vikasTravels" name="busOperators" class="custom-control-input" />
                                    <label class="custom-control-label" for="vikasTravels">Vikas Travels </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="gujaratTravels" name="busOperators" class="custom-control-input" />
                                    <label class="custom-control-label" for="gujaratTravels">Gujarat Travels </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="shrinathTravel" name="busOperators" class="custom-control-input" />
                                    <label class="custom-control-label" for="shrinathTravel">Shrinath Travel Agency </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="indianTravels" name="busOperators" class="custom-control-input" />
                                    <label class="custom-control-label" for="indianTravels">Indian Travels Agency </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside><!-- Side Panel end -->

        <div class="col-md-9 mt-4 mt-md-0">
            <div class="bg-light shadow-md rounded py-4">
                <div class="mx-3 mb-3 text-center">
                    <h2 class="text-6"><span id="fromTxt"></span>  <small class="mx-2">to </small><span id="toTxt"></span> </h2>
                </div>
                <div class="text-1 bg-light-3 border border-right-0 border-left-0 py-2 px-3">
                    <div class="row">
                        <div class="col col-sm-3"><span class="d-none d-sm-block">Operators </span></div>
                        <div class="col col-sm-2 text-center">Departure </div>
                        <div class="col-sm-2 text-center d-none d-sm-block">Duration </div>
                        <div class="col col-sm-2 text-center">Arrival </div>
                        <div class="col col-sm-3 text-center d-none d-sm-block">Price </div>
                    </div>
                </div>
                <div class="bus-list" id="buslists">


                </div>

                <!--Seat Layout in Collaps-->
          


                <!-- Pagination
    ============================================= -->
                <ul class="pagination justify-content-center mt-4 mb-0">
                    <li class="page-item disabled">  <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a>  </li>
                    <li class="page-item active">  <a class="page-link" href="#">1  <span class="sr-only">(current) </span></a>  </li>
                    <li class="page-item"><a class="page-link" href="#">2 </a></li>
                    <li class="page-item"><a class="page-link" href="#">3 </a></li>
                    <li class="page-item">  <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>  </li>
                </ul><!-- Pagination end -->
            </div>
        </div>
    </div>
</section>

