﻿
@{
    ViewData["Title"] = "BusList1";
    Layout = "~/Views/Shared/_BusLayout1.cshtml";
}

<section class="container-fluid">
    <div class="row">
        <div class="col mb-2">
            <form id="bookingBus" method="post">
                <div class="form-row">
                    <div class="col-md-6 col-lg form-group">
                        <input type="text" class="form-control" id="busFrom" required="" placeholder="From" autocomplete="on" />
                        <span class="icon-inside"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <div class="col-md-6 col-lg form-group">
                        <input type="text" class="form-control" id="busTo" required="" placeholder="To" autocomplete="on" />
                        <span class="icon-inside"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <div class="col-md-4 col-lg form-group">
                        <input id="busDepart" type="date" class="form-control" required="" placeholder="Depart Date" />
                        <span class="icon-inside"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <div class="col-md-4 col-lg form-group">
                        <button class="btn btn-primary btn-block" type="submit">Search </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">

        <!-- Side Panel
        ============================================= -->
        <aside class="col-md-3">
            <div class="bg-light shadow-md rounded p-3">
                <h3 class="text-5">Filter </h3>
                <div class="accordion accordion-alternate style-2" id="toggleAlternate">
                    <div class="card">
                        <div class="card-header" id="departure">
                            <h5 class="mb-0">  <a href="#" class="collapse" data-toggle="collapse" data-target="#toggleDeparture" aria-expanded="true" aria-controls="togglePrice">Departure Time </a>  </h5>
                        </div>
                        <div id="toggleDeparture" class="collapse show" aria-labelledby="departure">
                            <div class="card-body">
                                <p><span class="slider-time-departure">00:00 </span> -  <span class="slider-time-departure">23:59 </span></p>
                                <div id="slider-range-departure"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="price">
                            <h5 class="mb-0">  <a href="#" class="collapse" data-toggle="collapse" data-target="#togglePrice" aria-expanded="true" aria-controls="togglePrice">Price </a>  </h5>
                        </div>
                        <div id="togglePrice" class="collapse show" aria-labelledby="price">
                            <div class="card-body">
                                <p>
                                    <input id="amount" type="text" readonly="" class="form-control border-0 bg-transparent p-0" />
                                </p>
                                <div id="slider-range"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="busType">
                            <h5 class="mb-0">  <a href="#" class="collapse" data-toggle="collapse" data-target="#togglebusType" aria-expanded="true" aria-controls="togglebusType">Bus Type </a>  </h5>
                        </div>
                        <div id="togglebusType" class="collapse show" aria-labelledby="busType">
                            <div class="card-body">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="sleeper" name="busType" class="custom-control-input" />
                                    <label class="custom-control-label" for="sleeper">Sleeper </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="seater" name="busType" class="custom-control-input" />
                                    <label class="custom-control-label" for="seater">Seater </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="semiseater" name="busType" class="custom-control-input" />
                                    <label class="custom-control-label" for="semiseater">Semi-Seater </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="busOperators">
                            <h5 class="mb-0">  <a href="#" class="collapse" data-toggle="collapse" data-target="#togglebusOperators" aria-expanded="true" aria-controls="togglebusOperators">Bus Operators </a>  </h5>
                        </div>
                        <div id="togglebusOperators" class="collapse show" aria-labelledby="busOperators">
                            <div class="card-body">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="akTour" name="busOperators" class="custom-control-input" />
                                    <label class="custom-control-label" for="akTour">AK Tour &amp; Travels </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="vikasTravels" name="busOperators" class="custom-control-input" />
                                    <label class="custom-control-label" for="vikasTravels">Vikas Travels </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="gujaratTravels" name="busOperators" class="custom-control-input" />
                                    <label class="custom-control-label" for="gujaratTravels">Gujarat Travels </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="shrinathTravel" name="busOperators" class="custom-control-input" />
                                    <label class="custom-control-label" for="shrinathTravel">Shrinath Travel Agency </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="indianTravels" name="busOperators" class="custom-control-input" />
                                    <label class="custom-control-label" for="indianTravels">Indian Travels Agency </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside><!-- Side Panel end -->

        <div class="col-md-9 mt-4 mt-md-0">
            <div class="bg-light shadow-md rounded py-4">
                <div class="mx-3 mb-3 text-center">
                    <h2 class="text-6"><span id="fromTxt"></span>  <small class="mx-2">to </small><span id="toTxt"></span> </h2>
                </div>
                <div class="text-1 bg-light-3 border border-right-0 border-left-0 py-2 px-3">
                    <div class="row">
                        <div class="col col-sm-3"><span class="d-none d-sm-block">Operators </span></div>
                        <div class="col col-sm-2 text-center">Departure </div>
                        <div class="col-sm-2 text-center d-none d-sm-block">Duration </div>
                        <div class="col col-sm-2 text-center">Arrival </div>
                        <div class="col col-sm-3 text-center d-none d-sm-block">Price </div>
                    </div>
                </div>
                <div class="bus-list" id="buslists">
                    <div class="bus-item">
                        <div class="row align-items-sm-center flex-row py-4 px-3">
                            <div class="col col-sm-3">  <span class="text-3 text-dark operator-name">AK Tour & Travels </span>  <span class="text-1 text-muted d-block">AC Sleeper </span>  </div>
                            <div class="col col-sm-2 text-center time-info">  <span class="text-4 text-dark">12:00 </span>  <small class="text-muted d-block">Mumbai </small>  </div>
                            <div class="col col-sm-2 text-center d-none d-sm-block time-info">  <span class="text-3 duration">06h 32m </span>  <small class="text-muted d-block">12 Stops </small>  </div>
                            <div class="col col-sm-2 text-center time-info">  <span class="text-4 text-dark">05:15 </span>  <small class="text-muted d-block">Surat </small>  </div>
                            <div class="col-12 col-sm-3 align-self-center text-right text-sm-center mt-2 mt-sm-0">
                                <div class="d-inline-block d-sm-block text-dark text-5 price mb-sm-1">$250 </div>
                                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Select Seat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <div>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">  <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">Available Seats </a>  </li>
                                    <li class="nav-item">  <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Cancellation Fee </a>  </li>
                                </ul>
                                <div class="tab-content my-3" id="myTabContent">

                                    <!--- Tab 1 for Seat Layout -->

                                    <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                                        <div class="row">
                                            <div class="col-12 col-lg-9 text-center">
                                                <p class="text-muted text-1">Click on Seat to Select / deselect </p>

                                                <div id="legend"></div>
                                                <!-----Seat Upper Deck  -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">

                                                            <div class="col-12">
                                                                <div class="upper-deck-seat-box">
                                                                    <div class="col-md-3 driver-box">
                                                                        <i class="glyphicon glyphicon-dashboard"></i>

                                                                        <p>
                                                                            UPPER DECK
                                                                        </p>
                                                                    </div>
                                                                    <div class="Passenger-box col-md-9">
                                                                        <p>
                                                                            <button class="Sleeper-seat-Available">  </button>
                                                                            <button class="Sleeper-seat-Selected"> </button>
                                                                            <button class="Sleeper-seat-Unavailable"> </button>
                                                                            <button class="Sleeper-seat-BookedByLadies"></button>
                                                                            <button class="Sleeper-seat-ForLadies">  </button>
                                                                            <button class="Sleeper-seat-ForMale"> </button>
                                                                        </p>
                                                                        <p>
                                                                            <button class="Sleeper-seat-Available">  </button>
                                                                            <button class="Sleeper-seat-Selected"> </button>
                                                                            <button class="Sleeper-seat-Unavailable"> </button>
                                                                            <button class="Sleeper-seat-BookedByLadies"></button>
                                                                            <button class="Sleeper-seat-ForLadies">  </button>
                                                                            <button class="Sleeper-seat-ForMale"> </button>

                                                                        </p>
                                                                        <p>
                                                                            <button class="Sleeper-seat-Available">  </button>
                                                                            <button class="Sleeper-seat-Selected"> </button>
                                                                            <button class="Sleeper-seat-Unavailable"> </button>
                                                                            <button class="Sleeper-seat-BookedByLadies"></button>
                                                                            <button class="Sleeper-seat-ForLadies">  </button>
                                                                            <button class="Sleeper-seat-ForMale"> </button>

                                                                        </p>
                                                                        <hr />

                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                    <!-----Boarding and Dropping Point -->
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <input class="form-control form-control-sm" placeholder="Email" />
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <select class="form-control form-control-sm">
                                                                                Boarding Point
                                                                                <option>Boarding Point</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <select class="form-control form-control-sm">
                                                                                Dropping Point
                                                                                <option>Dropping  Point</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <!-----Passenger Form -->
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <table class="table-responsive table-condensed table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>
                                                                                            Gender
                                                                                        </th>
                                                                                        <th>
                                                                                            Name
                                                                                        </th>
                                                                                        <th>
                                                                                            Surname
                                                                                        </th>
                                                                                        <th>
                                                                                            Age
                                                                                        </th>
                                                                                        <th>
                                                                                            Seat No.
                                                                                        </th>
                                                                                        <th>
                                                                                            Base Fare
                                                                                        </th>
                                                                                        <th>
                                                                                            Opp Service Charge
                                                                                        </th>
                                                                                        <th>
                                                                                            GST
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tr>
                                                                                    <td>
                                                                                        <select class="form-control form-control-sm" id="title" required="">

                                                                                            <option>Mr</option>
                                                                                            <option>Ms</option>
                                                                                            <option>Mrs</option>
                                                                                        </select>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" class="form-control form-control-sm" placeholder="Name" />
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" class="form-control form-control-sm" placeholder="Name" />
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" class="form-control form-control-sm" placeholder="Name" />
                                                                                    </td>
                                                                                    <td>
                                                                                        25
                                                                                    </td>
                                                                                    <td>
                                                                                        25.20
                                                                                    </td>
                                                                                    <td>
                                                                                        00.00
                                                                                    </td>
                                                                                    <td>
                                                                                        14
                                                                                    </td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td colspan="9">
                                                                                        <b style="float:right">
                                                                                            Total :14.00
                                                                                        </b>

                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>


                                                                    </div>
                                                                </div>

                                                                <div class="clearfix"></div>

                                                                <div class="Lower-deck-seat-box">
                                                                    <div class="driver-box">

                                                                        <img src="~/Busicons/Driver.png" />
                                                                        <p>

                                                                            Lower DECK
                                                                        </p>
                                                                    </div>
                                                                    <div class="Passenger-box">
                                                                        <p>
                                                                            <button class="Sleeper-seat-Available">  </button>
                                                                            <button class="Sleeper-seat-Selected"> </button>
                                                                            <button class="Sleeper-seat-Unavailable"> </button>
                                                                            <button class="Sleeper-seat-BookedByLadies"></button>
                                                                            <button class="Sleeper-seat-ForLadies">  </button>
                                                                            <button class="Sleeper-seat-ForMale"> </button>
                                                                        </p>
                                                                        <p>
                                                                            <button class="Sleeper-seat-Available">  </button>
                                                                            <button class="Sleeper-seat-Selected"> </button>
                                                                            <button class="Sleeper-seat-Unavailable"> </button>
                                                                            <button class="Sleeper-seat-BookedByLadies"></button>
                                                                            <button class="Sleeper-seat-ForLadies">  </button>
                                                                            <button class="Sleeper-seat-ForMale"> </button>

                                                                        </p>
                                                                        <p>
                                                                            <button class="Sleeper-seat-Available">  </button>
                                                                            <button class="Sleeper-seat-Selected"> </button>
                                                                            <button class="Sleeper-seat-Unavailable"> </button>
                                                                            <button class="Sleeper-seat-BookedByLadies"></button>
                                                                            <button class="Sleeper-seat-ForLadies">  </button>
                                                                            <button class="Sleeper-seat-ForMale"> </button>

                                                                        </p>
                                                                    </div>

                                                                </div>

                                                                <!---Common seat push back/ chair -->
                                                                <div class="clearfix"></div>
                                                                <div class="Common-bus-seat-box">
                                                                    <div class="driver-box">

                                                                        <img src="~/Busicons/Driver.png" />   <p>
                                                                            Common Push Back Seat
                                                                        </p>
                                                                    </div>
                                                                    <div class="Passenger-box">
                                                                        <div style="">
                                                                            <p>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                            </p>

                                                                            <div class="clearfix"></div>
                                                                            <p>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Selected">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                            </p>


                                                                        </div>

                                                                        <div class="clearfix"></div>

                                                                        <p></p>
                                                                        <p>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-BookedByLadies">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                        </p>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>




                                                    </div>
                                                </div>

                                                <!-----Seat Guide -->
                                                <hr />
                                                <div class="row">
                                                    <div>
                                                        <button class="seat-Available">  </button> Avaliable
                                                        <button class="seat-Selected"> </button> Selected
                                                        <button class="seat-Unavailable"> </button> Unavaliable
                                                        <button class="seat-BookedByLadies"></button>  Booked By Ledies
                                                        <button class="seat-ForLadies">  </button> For Ledies
                                                        <button class="seat-ForMale"> </button> for Male

                                                    </div>
                                                </div>


                                            </div>

                                            <aside class="col-12 col-lg-3 mt-3 mt-lg-0">
                                                <div class="bg-light shadow-md rounded p-3">
                                                    <h3 class="text-5 mb-3">Fare Details</h3>
                                                    <ul class="list-unstyled">
                                                        <li class="mb-2">Base Fare <span class="float-right text-4 font-weight-500 text-dark">$250</span></li>
                                                        <li class="mb-2">Taxes &amp; Fees <span class="float-right text-4 font-weight-500 text-dark">$30</span></li>
                                                        <li class="mb-2">Insurance <span class="float-right text-4 font-weight-500 text-dark">$70</span></li>
                                                    </ul>
                                                    <div class="text-dark bg-light-4 text-4 font-weight-600 p-3"> Total Amount <span class="float-right text-6">$350</span> </div>
                                                    <h3 class="text-4 mb-3 mt-4">Promo Code</h3>
                                                    <div class="input-group form-group">
                                                        <input class="form-control" placeholder="Promo Code" aria-label="Promo Code" type="text">
                                                        <span class="input-group-append">
                                                            <button class="btn btn-secondary" type="submit">APPLY</button>
                                                        </span>
                                                    </div>
                                                    <ul class="promo-code pre-scrollable">
                                                        <li><span class="d-block text-3 font-weight-600">FLTOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                                                        <li><span class="d-block text-3 font-weight-600">HOTOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                                                        <li><span class="d-block text-3 font-weight-600">SUMMEROFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                                                        <li><span class="d-block text-3 font-weight-600">BIGOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                                                        <li><span class="d-block text-3 font-weight-600">FLTOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                                                        <li><span class="d-block text-3 font-weight-600">FLTOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                                                    </ul>
                                                    <a href="/Home/BusConfirm" class="btn btn-primary btn-block">Procces To Payment </a>
                                                </div>
                                            </aside>




                                        </div>
                                    </div>

                                    <!--- Tab 2 for For Cancelation Notes  -->

                                    <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                                        <table class="table table-hover table-bordered bg-light">
                                            <thead>
                                                <tr>
                                                    <td>Hours before Departure </td>
                                                    <td class="text-center">Refund Percentage </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Before 0 Hrs. </td>
                                                    <td class="text-center">0% </td>
                                                </tr>
                                                <tr>
                                                    <td>Before 24 Hrs. </td>
                                                    <td class="text-center">30% </td>
                                                </tr>
                                                <tr>
                                                    <td>Before 48 Hrs. </td>
                                                    <td class="text-center">60% </td>
                                                </tr>
                                                <tr>
                                                    <td>Before 60 Hrs. </td>
                                                    <td class="text-center">75% </td>
                                                </tr>
                                                <tr>
                                                    <td>Above 60 Hrs.  </td>
                                                    <td class="text-center">80% </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="font-weight-bold">Terms & Conditions </p>
                                        <ul>
                                            <li>The penalty is subject __ 24 hrs before departure. __ Changes are allowed after ____. </li>
                                            <li>The charges are per ____. </li>
                                            <li>Partial cancellation is not _______ on tickets booked under _______ discounted fares. </li>
                                            <li>In case of no-show __ ticket not cancelled within ___ stipulated time, only statutory _____ are refundable subject to _______ Fee. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bus-item">
                        <div class="row align-items-sm-center flex-row py-4 px-3">
                            <div class="col col-sm-3">  <span class="text-3 text-dark operator-name">AK Tour & Travels </span>  <span class="text-1 text-muted d-block">AC Sleeper </span>  </div>
                            <div class="col col-sm-2 text-center time-info">  <span class="text-4 text-dark">12:00 </span>  <small class="text-muted d-block">Mumbai </small>  </div>
                            <div class="col col-sm-2 text-center d-none d-sm-block time-info">  <span class="text-3 duration">06h 32m </span>  <small class="text-muted d-block">12 Stops </small>  </div>
                            <div class="col col-sm-2 text-center time-info">  <span class="text-4 text-dark">05:15 </span>  <small class="text-muted d-block">Surat </small>  </div>
                            <div class="col-12 col-sm-3 align-self-center text-right text-sm-center mt-2 mt-sm-0">
                                <div class="d-inline-block d-sm-block text-dark text-5 price mb-sm-1">$250 </div>
                                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Select Seat
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample2">
                        <div class="card card-body">
                            <div>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">  <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">Available Seats </a>  </li>
                                    <li class="nav-item">  <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Cancellation Fee </a>  </li>
                                </ul>
                                <div class="tab-content my-3" id="myTabContent">

                                    <!--- Tab 1 for Seat Layout -->

                                    <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                                        <div class="row">
                                            <div class="col-12 col-lg-9 text-center">
                                                <p class="text-muted text-1">Click on Seat to Select / deselect </p>

                                                <div id="legend"></div>
                                                <!-----Seat Upper Deck  -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">

                                                            <div class="col-12">
                                                                <div class="upper-deck-seat-box">
                                                                    <div class="col-md-3 driver-box">
                                                                        <i class="glyphicon glyphicon-dashboard"></i>

                                                                        <p>
                                                                            UPPER DECK
                                                                        </p>
                                                                    </div>
                                                                    <div class="Passenger-box col-md-9">
                                                                        <p>
                                                                            <button class="Sleeper-seat-Available">  </button>
                                                                            <button class="Sleeper-seat-Selected"> </button>
                                                                            <button class="Sleeper-seat-Unavailable"> </button>
                                                                            <button class="Sleeper-seat-BookedByLadies"></button>
                                                                            <button class="Sleeper-seat-ForLadies">  </button>
                                                                            <button class="Sleeper-seat-ForMale"> </button>
                                                                        </p>
                                                                        <p>
                                                                            <button class="Sleeper-seat-Available">  </button>
                                                                            <button class="Sleeper-seat-Selected"> </button>
                                                                            <button class="Sleeper-seat-Unavailable"> </button>
                                                                            <button class="Sleeper-seat-BookedByLadies"></button>
                                                                            <button class="Sleeper-seat-ForLadies">  </button>
                                                                            <button class="Sleeper-seat-ForMale"> </button>

                                                                        </p>
                                                                        <p>
                                                                            <button class="Sleeper-seat-Available">  </button>
                                                                            <button class="Sleeper-seat-Selected"> </button>
                                                                            <button class="Sleeper-seat-Unavailable"> </button>
                                                                            <button class="Sleeper-seat-BookedByLadies"></button>
                                                                            <button class="Sleeper-seat-ForLadies">  </button>
                                                                            <button class="Sleeper-seat-ForMale"> </button>

                                                                        </p>
                                                                        <hr />

                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                    <!-----Boarding and Dropping Point -->
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <input class="form-control form-control-sm" placeholder="Email" />
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <select class="form-control form-control-sm">
                                                                                Boarding Point
                                                                                <option>Boarding Point</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <select class="form-control form-control-sm">
                                                                                Dropping Point
                                                                                <option>Dropping  Point</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <!-----Passenger Form -->
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <table class="table-responsive table-condensed table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>
                                                                                            Gender
                                                                                        </th>
                                                                                        <th>
                                                                                            Name
                                                                                        </th>
                                                                                        <th>
                                                                                            Surname
                                                                                        </th>
                                                                                        <th>
                                                                                            Age
                                                                                        </th>
                                                                                        <th>
                                                                                            Seat No.
                                                                                        </th>
                                                                                        <th>
                                                                                            Base Fare
                                                                                        </th>
                                                                                        <th>
                                                                                            Opp Service Charge
                                                                                        </th>
                                                                                        <th>
                                                                                            GST
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tr>
                                                                                    <td>
                                                                                        <select class="form-control form-control-sm" id="title" required="">

                                                                                            <option>Mr</option>
                                                                                            <option>Ms</option>
                                                                                            <option>Mrs</option>
                                                                                        </select>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" class="form-control form-control-sm" placeholder="Name" />
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" class="form-control form-control-sm" placeholder="Name" />
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" class="form-control form-control-sm" placeholder="Name" />
                                                                                    </td>
                                                                                    <td>
                                                                                        25
                                                                                    </td>
                                                                                    <td>
                                                                                        25.20
                                                                                    </td>
                                                                                    <td>
                                                                                        00.00
                                                                                    </td>
                                                                                    <td>
                                                                                        14
                                                                                    </td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td colspan="9">
                                                                                        <b style="float:right">
                                                                                            Total :14.00
                                                                                        </b>

                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>


                                                                    </div>
                                                                </div>

                                                                <div class="clearfix"></div>

                                                                <div class="Lower-deck-seat-box">
                                                                    <div class="driver-box">

                                                                        <img src="~/Busicons/Driver.png" />
                                                                        <p>

                                                                            Lower DECK
                                                                        </p>
                                                                    </div>
                                                                    <div class="Passenger-box">
                                                                        <p>
                                                                            <button class="Sleeper-seat-Available">  </button>
                                                                            <button class="Sleeper-seat-Selected"> </button>
                                                                            <button class="Sleeper-seat-Unavailable"> </button>
                                                                            <button class="Sleeper-seat-BookedByLadies"></button>
                                                                            <button class="Sleeper-seat-ForLadies">  </button>
                                                                            <button class="Sleeper-seat-ForMale"> </button>
                                                                        </p>
                                                                        <p>
                                                                            <button class="Sleeper-seat-Available">  </button>
                                                                            <button class="Sleeper-seat-Selected"> </button>
                                                                            <button class="Sleeper-seat-Unavailable"> </button>
                                                                            <button class="Sleeper-seat-BookedByLadies"></button>
                                                                            <button class="Sleeper-seat-ForLadies">  </button>
                                                                            <button class="Sleeper-seat-ForMale"> </button>

                                                                        </p>
                                                                        <p>
                                                                            <button class="Sleeper-seat-Available">  </button>
                                                                            <button class="Sleeper-seat-Selected"> </button>
                                                                            <button class="Sleeper-seat-Unavailable"> </button>
                                                                            <button class="Sleeper-seat-BookedByLadies"></button>
                                                                            <button class="Sleeper-seat-ForLadies">  </button>
                                                                            <button class="Sleeper-seat-ForMale"> </button>

                                                                        </p>
                                                                    </div>

                                                                </div>

                                                                <!---Common seat push back/ chair -->
                                                                <div class="clearfix"></div>
                                                                <div class="Common-bus-seat-box">
                                                                    <div class="driver-box">

                                                                        <img src="~/Busicons/Driver.png" />   <p>
                                                                            Common Push Back Seat
                                                                        </p>
                                                                    </div>
                                                                    <div class="Passenger-box">
                                                                        <div style="">
                                                                            <p>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                            </p>

                                                                            <div class="clearfix"></div>
                                                                            <p>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Selected">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                                <button class="Common-seat-Available">  </button>
                                                                            </p>


                                                                        </div>

                                                                        <div class="clearfix"></div>

                                                                        <p></p>
                                                                        <p>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-BookedByLadies">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                            <button class="Common-seat-Available">  </button>
                                                                        </p>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>




                                                    </div>
                                                </div>

                                                <!-----Seat Guide -->
                                                <hr />
                                                <div class="row">
                                                    <div>
                                                        <button class="seat-Available">  </button> Avaliable
                                                        <button class="seat-Selected"> </button> Selected
                                                        <button class="seat-Unavailable"> </button> Unavaliable
                                                        <button class="seat-BookedByLadies"></button>  Booked By Ledies
                                                        <button class="seat-ForLadies">  </button> For Ledies
                                                        <button class="seat-ForMale"> </button> for Male

                                                    </div>
                                                </div>


                                            </div>

                                            <aside class="col-12 col-lg-3 mt-3 mt-lg-0">
                                                <div class="bg-light shadow-md rounded p-3">
                                                    <h3 class="text-5 mb-3">Fare Details</h3>
                                                    <ul class="list-unstyled">
                                                        <li class="mb-2">Base Fare <span class="float-right text-4 font-weight-500 text-dark">$250</span></li>
                                                        <li class="mb-2">Taxes &amp; Fees <span class="float-right text-4 font-weight-500 text-dark">$30</span></li>
                                                        <li class="mb-2">Insurance <span class="float-right text-4 font-weight-500 text-dark">$70</span></li>
                                                    </ul>
                                                    <div class="text-dark bg-light-4 text-4 font-weight-600 p-3"> Total Amount <span class="float-right text-6">$350</span> </div>
                                                    <h3 class="text-4 mb-3 mt-4">Promo Code</h3>
                                                    <div class="input-group form-group">
                                                        <input class="form-control" placeholder="Promo Code" aria-label="Promo Code" type="text">
                                                        <span class="input-group-append">
                                                            <button class="btn btn-secondary" type="submit">APPLY</button>
                                                        </span>
                                                    </div>
                                                    <ul class="promo-code pre-scrollable">
                                                        <li><span class="d-block text-3 font-weight-600">FLTOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                                                        <li><span class="d-block text-3 font-weight-600">HOTOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                                                        <li><span class="d-block text-3 font-weight-600">SUMMEROFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                                                        <li><span class="d-block text-3 font-weight-600">BIGOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                                                        <li><span class="d-block text-3 font-weight-600">FLTOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                                                        <li><span class="d-block text-3 font-weight-600">FLTOFFER</span>Up to $500 Off on your booking. Hurry! Limited period offer. <a class="text-1" href="">Terms &amp; Conditions</a></li>
                                                    </ul>
                                                    <a href="/Home/BusConfirm" class="btn btn-primary btn-block">Procces To Payment </a>
                                                </div>
                                            </aside>




                                        </div>
                                    </div>

                                    <!--- Tab 2 for For Cancelation Notes  -->

                                    <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                                        <table class="table table-hover table-bordered bg-light">
                                            <thead>
                                                <tr>
                                                    <td>Hours before Departure </td>
                                                    <td class="text-center">Refund Percentage </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Before 0 Hrs. </td>
                                                    <td class="text-center">0% </td>
                                                </tr>
                                                <tr>
                                                    <td>Before 24 Hrs. </td>
                                                    <td class="text-center">30% </td>
                                                </tr>
                                                <tr>
                                                    <td>Before 48 Hrs. </td>
                                                    <td class="text-center">60% </td>
                                                </tr>
                                                <tr>
                                                    <td>Before 60 Hrs. </td>
                                                    <td class="text-center">75% </td>
                                                </tr>
                                                <tr>
                                                    <td>Above 60 Hrs.  </td>
                                                    <td class="text-center">80% </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="font-weight-bold">Terms & Conditions </p>
                                        <ul>
                                            <li>The penalty is subject __ 24 hrs before departure. __ Changes are allowed after ____. </li>
                                            <li>The charges are per ____. </li>
                                            <li>Partial cancellation is not _______ on tickets booked under _______ discounted fares. </li>
                                            <li>In case of no-show __ ticket not cancelled within ___ stipulated time, only statutory _____ are refundable subject to _______ Fee. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Seat Layout in Collaps-->
                <!-- Pagination
                ============================================= -->
                <ul class="pagination justify-content-center mt-4 mb-0">
                    <li class="page-item disabled">  <a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a>  </li>
                    <li class="page-item active">  <a class="page-link" href="#">1  <span class="sr-only">(current) </span></a>  </li>
                    <li class="page-item"><a class="page-link" href="#">2 </a></li>
                    <li class="page-item"><a class="page-link" href="#">3 </a></li>
                    <li class="page-item">  <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>  </li>
                </ul><!-- Pagination end -->
            </div>
        </div>
    </div>
</section>

